// Theme WebFonts ============================

@import url('http://fonts.googleapis.com/css?family=Roboto:900,500,300,700,400');

// Theme variables ============================

// Theme colors
$theme-primary:							#FFCD00; //#F2CB05;
$theme-secondary:						#1E1E1E; //#444;
$theme-tertiary:						#333333;

// Theme section background colors
$theme-bck-white:						#FFFFFF;
$theme-bck-light:						#ECF0F1;
$theme-bck-lightdark:					#333333;
$theme-bck-dark:						#1E1E1E;
$theme-bck-theme:						$theme-primary;

$theme-button-primary-color:			rgba(0, 0, 0, .5);
$theme-button-secondary-color:			rgba(255, 255, 255, .5);

// Theme Font families
$font-family-sans-serif:				'Roboto', sans-serif;
$font-family-serif:						Georgia, Times, "Times New Roman", serif;
$font-family-monospace:					Monaco, Menlo, Consolas, "Courier New", monospace;

// Global variables ====================================

// Colors
$white:									#fff;
$black:									#000;

// Global disabled
$disabled:								#eaeaea;
$disabled-bck-color:					#DDDDDD;
$disabled-opacity:						.3;

// Global HTML variables ============================

// Font settings

$html-font-size:						62.5%; // We Use 62.5% to make EM behave like PX. ( example: 1.6em = 16px )

$global-font-color:						#999;
$global-font-size:						1.6;
$global-font-family:					$font-family-sans-serif;
$global-line-height:					1.337;
$global-font-weight:					normal;
$global-font-style:						normal;

$paragraph-font-size:					1.8;
$paragraph-line-height:					1.72222;
$paragraph-margin-bottom:				15px;

// Grid variables ============================

$include-html-classes:                 	true; // If you want a non responsive grid set this to FALSE

// Grid core
$grid-width:							1200px;
$grid-columns:							12;
$grid-gutters:							2%;
$grid-direction:						left; // switch to 'right' for rtl

// Responsive screen sizes
$mobile:                      			0em;		// min-width 0px
$mobile-portait:						30em; 		// width 480px
$mobile-landscape:						47.938em;	// max-width 767px

$tablet:								48.000em;	// min-width 768px
$tablet-portait:						60.000em;	// width 960px
$tablet-landscape:						63.938em;	// max-width 1023px

$desktop:								64.000em;	// min-width 1024px
$desktop-max:							113.938em;	// max-width 1823px

$widescreen:							113.938em; // max-width 1824px

// Messages variables ============================

$message-border-width:					0 0 0 4px;
$message-border-style:					solid;
$message-border-radius:					0;

$message-background-color:				#EFEFEF;
$message-color:							rgba(0,0,0,0.6);

$message-error-background-color: 		#F1D7D7;
$message-error-color: 					#A95252;

$message-success-background-color: 		#DEFCD5;
$message-success-color: 				#52A954;

// Buttons variables ============================

$button-default-radius:					3px;
$button-default-color:					#808080;
$button-default-border-width:			0;

$button-error:							#d9534f;
$button-success:						#5cb85c;
$button-warning:						#f0ad4e;

$button-color-black:					#27292b;
$button-color-blue:						#1AB8F3;
$button-color-purple:					#3E3773;
$button-color-orange:					#FF7038;
$button-color-pink:						#D982AB;

// Form variables ============================

$form-border-radius:					0.3125em;
$form-input-color:						rgba(0, 0, 0, .7);
$form-input-border:						1px solid rgba(0, 0, 0, 0.15);

// Navbar variables ============================

$navbar-height:							65px;
$navbar-bck-color:						#000;
$navbar-bottom-border:					1px lighten($navbar-bck-color, 10%) inset;

$navbar-brand-font-size:				1.6;
$navbar-brand-font-family:				$font-family-sans-serif;
$navbar-brand-font-color:				$white;
$navbar-brand-font-weight:				800;

$navbar-mobile-icon-color:				$white;
$navbar-mobile-icon-bg-color:			transparent;

$navbar-links-font-size:				1.4;
$navbar-links-line-height:				3.1;
$navbar-links-text-decoration:			uppercase;
$navbar-links-font-weight:				500;

$navbar-links-font-color:				rgba($white, .5);
$navbar-links-font-color-hover:			rgba($white, .75);
$navbar-links-font-color-active:		$white;

$navbar-links-bck-color-hover:			transparent;

// Pagination variables ========================

// Misc variables ============================

// Z-index Core
$zindex-navbar:                        	1000;
$zindex-dropdown:                      	1000;
$zindex-navbar-fixed:                  	1030;

// Mouse pointers
$cursor-crosshair-value:				crosshair;
$cursor-default-value:					default;
$cursor-pointer-value:					pointer;
$cursor-help-value:						help;
$cursor-text-value:						text;
$cursor-not-allowed:					not-allowed;