// ==========================
// Font Families
// ==========================

// Theme Font families
$mnky-font-family-text:					'Roboto', sans-serif !default;
$mnky-font-family-display:				Georgia, Times, "Times New Roman", serif !default;
$mnky-font-family-code:					Monaco, Menlo, Consolas, "Courier New", monospace !default;

// ==========================
// Colors
// ==========================
	
$mnky-primary-color:            		#FFCD00 !default;
$mnky-primary-color-dark:       		darken($mnky-primary-color, 10%) !default;
$mnky-primary-color-light:      		lighten($mnky-primary-color, 10%) !default;

$mnky-secondary-color:          		#1E1E1E!default;
$mnky-secondary-color-dark:     		darken($mnky-secondary-color, 10%) !default;
$mnky-secondary-color-light:    		lighten($mnky-secondary-color, 10%) !default;

$mnky-danger-color:              		#ffcc!default;

// Theme section background colors
$theme-bck-white:						mnky-color(white-alpha-4);
$theme-bck-light:						mnky-color('lightgrey', '50');
$theme-bck-lightdark:					mnky-color('dark', '500');
$theme-bck-dark:						mnky-color('dark', '800');
$theme-bck-theme:						$mnky-primary-color;

// =========================
// Media queries breakpoints
// =========================

$mnky-screen-small: 					20em !default;
$mnky-screen-medium: 					48em !default;
$mnky-screen-large: 					76.5em !default;
$mnky-screen-wide: 						114em !default;

// =========================
// Grid system
// =========================

$include-html-classes:					true; // If you want a non responsive grid set this to FALSE

$mnky-grid-width:						1170px;
$mnky-grid-columns:						12;
$mnky-grid-gutter-width:				30;
$mnky-grid-direction:					left; // switch to 'right' for rtl

// =========================
// Container sizes
// =========================

$mnky-row-small:						$mnky-screen-small !default;
$mnky-row-medium:						(940px + $mnky-grid-gutter-width) !default;
$mnky-row-large:						(1140px + $mnky-grid-gutter-width) !default;

// ==========================
// Scaffolding
// ==========================

$mnky-body-background-color:			mnky-color(white-alpha-4) !default;

$mnky-link-font-color:           		$mnky-primary-color !default;
$mnky-link-text-decoration:       		none !default;
$mnky-link-font-color-hover:      		$mnky-primary-color-dark !default;
$mnky-link-text-decoration-hover: 		underline !default;

$mnky-hr-color:                   		mnky-color('black-alpha-12') !default;
$mnky-abbr-border-color:          		$mnky-primary-color !default;
$mnky-cursor-disabled:            		not-allowed !default;
$mnky-border-radius-default:      		2px !default;

// ==========================
// Typography
// ==========================

$mnky-html-font-size:					62.5%;

$mnky-base-font-color:					#6f6f6f !default;
$mnky-base-heading-font-color:			#333 !default;
$mnky-base-font-family:					$mnky-font-family-text;
$mnky-base-font-size:					1.6 !default;
$mnky-base-font-weight:					300 !default;
$mnky-base-line-height:					1.6667 !default;
$mnky-base-letter-spacing:				0.001em !default;

// =========================
// Buttons
// =========================

$mnky-button-border-radius:				$mnky-border-radius-default !default;
$mnky-button-padding-vertical:			8px !default;
$mnky-button-padding-horizontal:		16px !default;

$mnky-button-margin-vertical:			6px !default;
$mnky-button-spacing-horizontal:		4px !default;

$mnky-button-font-color:				mnky-color(white-alpha-4) !default;
$mnky-button-font-color-opposite:		mnky-color('black-alpha-3') !default;

$mnky-button-default-bck-color:			#e0e0e0 !default;
$mnky-button-default-border-width:		2px !default;

$mnky-button-color-black:				#0A0A0A !default;
$mnky-button-color-blue:				mnky-color('blue', '500') !default;
$mnky-button-color-green:				mnky-color('green', '500') !default;
$mnky-button-color-orange:				mnky-color('orange', '500') !default;
$mnky-button-color-pink:				mnky-color('pink', '500') !default;
$mnky-button-color-purple:				mnky-color('purple', '500') !default;
$mnky-button-color-red:					mnky-color('red', '500') !default;
$mnky-button-color-teal:				mnky-color('teal', '500') !default;
$mnky-button-color-yellow:				mnky-color('yellow', '500') !default;

$mnky-button-disabled:					mnky-color('black-alpha-2') !default;
$mnky-button-disabled-bck-color:		#dcddde !default;
$mnky-button-disabled-opacity:			.3 !default;


// =========================
// Forms
// =========================

$mnky-form-group-margin-bottom:			20px !default;

$mnky-input-background-color:			transparent !default;
$mnky-input-background-color-disabled:	transparent !default;
$mnky-input-font-color:					$mnky-base-font-color !default;
$mnky-input-font-size:					16px !default;
$mnky-input-height:						32px !default;
$mnky-input-border-radius:				$mnky-border-radius-default !default;

$mnky-input-padding-vertical:			8px !default;
$mnky-input-padding-horizontal:			16px !default;

$mnky-input-placeholder-color:			mnky-color('black-alpha-3') !default;

$mnky-input-border-color:				mnky-color('black-alpha-12') !default;
$mnky-input-border-color-focus:			$mnky-primary-color !default;

$mnky-textarea-height:					64px !default;

$mnky-label-font-size:					12px !default;
$mnky-label-font-color:					mnky-color('black-alpha-3') !default;
$mnky-label-margin-bottom:				3px !default;

$mnky-legend-font-size:					$mnky-base-font-size * 1.5 !default;
$mnky-legend-font-color:				$mnky-base-font-color !default;

// =========================
// Panels
// =========================

// =========================
// Dividers
// =========================

// =========================
// Dropdowns
// =========================

// =========================
// Navbar
// =========================

$mnky-navbar-height:					65px;
$mnky-navbar-bck-color:					#000;
$mnky-navbar-bottom-border:				1px lighten($mnky-navbar-bck-color, 10%) inset;

$mnky-navbar-brand-font-size:			1.6;
$mnky-navbar-brand-font-family:			$mnky-font-family-text;
$mnky-navbar-brand-font-color:			mnky-color(white-alpha-4);
$mnky-navbar-brand-font-weight:			800;

$mnky-navbar-mobile-icon-color:			mnky-color(white-alpha-4);
$mnky-navbar-mobile-icon-bg-color:		transparent;

$mnky-navbar-links-font-size:			1.4;
$mnky-navbar-links-line-height:			3.1;
$mnky-navbar-links-text-transform:		uppercase;
$mnky-navbar-links-font-weight:			500;
$mnky-navbar-links-text-decortation:	none;

$mnky-navbar-links-font-color:			mnky-color('white-alpha-2');
$mnky-navbar-links-font-color-hover:	mnky-color('white-alpha-3');
$mnky-navbar-links-font-color-active:	mnky-color('white-alpha-4');

$mnky-navbar-links-bck-color-hover:		transparent;

// =========================
// Tables
// =========================

// =========================
// Internal Variables
// =========================

$mnky-base-line-height-computed:		floor(($mnky-base-font-size * $mnky-base-line-height));
$mnky-screen-xs-max: 					($mnky-screen-small - 1);
$mnky-screen-sm-max:					($mnky-screen-medium - 1);
$mnky-screen-md-max:					($mnky-screen-large - 1);

$mnky-zindex-navbar:					1000;
$mnky-zindex-dropdown:					1000;
$mnky-zindex-navbar-fixed:				1030;

$mnky-cursor-crosshair-value:			crosshair;
$mnky-cursor-default-value:				default;
$mnky-cursor-pointer-value:				pointer;
$mnky-cursor-help-value:				help;
$mnky-cursor-text-value:				text;
$mnky-cursor-not-allowed:				not-allowed;