//	Mnky Framework 
//	Author: Timothy Remst - http://www.madebymonkeys.nl
//	Version: 0.1.0 

$base-path:			'base';
$elements-path:		'ui/elements';
$modules-path:		'ui/modules';

/* HELPERS - Framework mixins and functions.
========================================================================== */

	@import "helpers/mixins.scss",
			"helpers/functions.scss";

/* VARIABLES - Framework variables.
========================================================================== */

	@import "_variables.scss";

/* VENDOR - Default fall backs & external .scss files.
========================================================================== */

	@import "vendor/_normalize.scss",
			"vendor/_font-awesome.min.scss";

/* BASE - Base variable file along with starting points mixins & funtions.
========================================================================== */

	@import 'base/_global.scss',
			'base/_grid.scss',
			'base/_misc.scss',
			'base/_typography.scss';
	

/* UI ELEMENTS - User Interface styling.
========================================================================== */

	@import "ui/elements/_accordion.scss",
			"ui/elements/_breadcrumb.scss",
			"ui/elements/_button.scss",
			"ui/elements/_form.scss",
			"ui/elements/_image.scss",
			"ui/elements/_input.scss",
			"ui/elements/_navbar.scss",
			"ui/elements/_offcanvas-nav.scss";

/* MODULES - Individual site elements.
========================================================================== */

	//@import "ui/modules/_scrolltop.scss";

/* THEME ELEMENTS - UI color styling.
========================================================================== */

	//@import '';