// #Theme Fonts ========================
	
@import url(http://fonts.googleapis.com/css?family=Roboto:900,500,300,700,400);

// #Framework import ========================

@import "_variables.scss",
  		"sass/helpers/mixins",
  		"sass/helpers/functions";

// #Theme variables ========================

$block-padding:							1em;
$unit:									2rem;
  
// #Theme Basics ========================

body,
.page-wrapper {
	& > header {
		line-height: $navbar-height;
		
		&.landing {
			padding: ($block-padding * 6) 0 ($block-padding * 3);
		}
		
		&.landingx2 {
			padding: ($block-padding * 12) 0 ($block-padding * 9);
		}
	}
	
	& > section {
		&.padding { padding: ($block-padding * 10) 0 ($block-padding * 7); }
		&.title,
		&.landing {
			padding: ($block-padding * 6) 0 ($block-padding * 3);
			& h1 { font-size: 5.0em; }
			& h2 { font-size: 3.0em; }
			& h3 { font-size: 1.8em; }
		}
	}
	
	& > footer {
		&.padding { padding: ($block-padding * 5) 0 ($block-padding * 2); }
		
		.copyright {
			@include rem2px(font-size, 1.2);
			@include rem2px(margin-bottom, .75);
		}
	}
}

// #Theme Background ========================

.bck {
	&.full { min-height: 100%; }
	&.light { background-color: $theme-bck-light; }
	&.dark { background-color: $theme-bck-dark; }
	&.theme { background-color: $theme-bck-theme; }
	&.theme, &.dark {
		color: $white;
		
		h1, h2, h3,
		h4, h5, h6 {
			color: $white;
		}
		
		a {
			color: $white;
			
			&:not(.btn):hover, &:not(.btn):active {
				color: $white;
			}
		}
	}
}

.color {
	&.white { color: $white !important; }
	&:not(.bck).theme { color: $theme-primary !important; }
	&.default {color: $global-font-color !important; }
}

// #Theme Layout: Team section ========================

.team-member-box-1 {
	text-align: center;
	margin-bottom: 60px;
	clear: both;
	position: relative;
	padding: 20px;
	
	@include transition(all .25s ease);
	
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 4px;
		background-color: $theme-primary;
		opacity: 0;
		
	}
	
	figure {
		position: relative;
		width: 240px;
		height: 240px;
		border-radius: 100%;
		display: table;
		margin: auto;
		margin-bottom: 20px;
		overflow: hidden;
		
		img {
			width: 100%;
			height: auto;
			border-radius: 100%;
		}
	}
	
	.member-name {
		color: #0d0d0d;
		@include rem2px(font-size, 2.2);
		font-weight: 400;
		text-transform: uppercase;
	}
	
	.member-function {
		color: #737373;
		@include rem2px(font-size, 1.9);
		margin-bottom: 30px;
		position: relative;
		
		&::after {
			content: "";
			position: absolute;
			bottom: -15px;
			left: 50%;
			width: 20px;
			height: 4px;
			margin-left: -10px;
			background-color: #cccccc;
		}
	}
	
	.member-description {
		line-height: 30px;
		@include rem2px(font-size, 1.4);
		margin-bottom: 20px;
	}
	
	.social-buttons a {
		color: lighten($global-font-color, 15%);
		@include rem2px(font-size, 1.8);
		line-height: 22px;
		width: 24px;
		height: 24px;
		display: inline-block;
		position: relative;
		z-index: 0;
		@include transition(all .25s ease);
		
		// Colors
		&.facebook-btn:hover { color: #3B579D; }
		
		&.twitter-btn:hover { color: #4092CC; }
		
		&.google-plus-btn:hover { color: #D34836; }
		
		&.linkedin-btn:hover { color: #1F88BE; }
		
		//&.dribbble-btn:hover { color: ; }
	}
}

// #Theme Layout: Blog ========================

// #Theme Layout: Footer ========================