$accordion-title-font-size:			2;
$accordion-title-color:				#444;
$accordion-title-padding:			.5em;

$accordion-content-margin:			0;
$accordion-content-padding:			0 1.25em 1em;

$styled-accordion-border:			1px solid #ccc;

// =========================
// Accordion #Core
// =========================

.mnky.accordion {
	width: 100%;
}

.mnky.accordion .title {
	color: $accordion-title-color;
	@include rem2px(font-size, $accordion-title-font-size);
	font-weight: 500;
	padding: $accordion-title-padding .5em;
	cursor: $mnky-cursor-pointer-value;
}

.mnky.accordion .content,
.mnky.accordion .content p {
	margin: $accordion-content-margin;
	padding: $accordion-content-padding;
}

.mnky.accordion .title .dropdown.icon {
	padding: 5px;
}

.mnky.accordion .title.active .dropdown.icon {
    @include rotate(90);
}

// =========================
// Form #Styles
// =========================

// Full Lined
.mnky.lined.accordion {
	border: $styled-accordion-border;
	
	.title {
		border-top: $styled-accordion-border;
		color: rgba($accordion-title-color, .4);
		
		&.active {
			color: rgba($accordion-title-color, 1);
		}
	
		&:first-of-type { border-top: 0; }
		&:hover { color: rgba($accordion-title-color, 1); }
	}
}

// Underlined
.mnky.underlined.accordion {
	
	.title { border-bottom: $styled-accordion-border; }
	.content,
	.content p { padding-top: 1em;  }
}

// Accordion Rounded corners ========================

.mnky.accordion.rounded {
	border-radius: 5px;
}