// =========================
// Breadcrumb #Core
// =========================

.mnky.breadcrumb {
	margin: 1em 0;
	display: inline-block;
	vertical-align: middle;
	
	&:first-child { margin-top: 0; }
	&:last-child { margin-bottom: 0; }
}

// =========================
// Breadcrumb #Content
// =========================

.mnky.breadcrumb .divider {
	display: inline-block;
	opacity: .5;
	margin: 0 .2rem;
	@include rem2px(font-size, $mnky-base-font-size);
	color: rgba(0, 0, 0, 0.4);
	vertical-align: baseline;
}

.mnky.breadcrumb .icon.divider {
	font-size: 0.85714286em;
	vertical-align: baseline;
}

.mnky.breadcrumb a {
	color: $mnky-primary-color;
	
	&:hover {
		color: lighten($mnky-primary-color, 5%);
	}
}

.mnky.breadcrumb a.section {
	cursor: $mnky-cursor-pointer-value;
}

.mnky.breadcrumb .section {
	display: inline-block;
	margin: 0em;
	padding: 0em;
}

.mnky.breadcrumb .active.section {
	font-weight: bold;
}

// =========================
// Breadcrumb #Sizes
// =========================

.mnky.mini.breadcrumb		{ font-size: 0.65em; }
.mnky.tiny.breadcrumb		{ font-size: 0.7em; }
.mnky.small.breadcrumb 	{ font-size: 0.75em; }
.mnky.breadcrumb 			{ font-size: 1em; }
.mnky.large.breadcrumb	{ font-size: 1.1em; }
.mnky.big.breadcrumb		{ font-size: 1.05em; }
.mnky.huge.breadcrumb		{ font-size: 1.3em; }
.mnky.massive.breadcrumb	{ font-size: 1.5em; }