// =========================
// Button #Core
// =========================

.mnky.button {
	display: inline-block;
	text-transform: uppercase;
	font-weight: 500;
	@include rem2px(font-size, ($mnky-base-font-size - .2));
	padding: $mnky-button-padding-vertical $mnky-button-padding-horizontal;
	text-decoration: none;
	border-radius: $mnky-button-border-radius;
	margin-top: $mnky-button-margin-vertical;
	margin-bottom: $mnky-button-margin-vertical;
	cursor: $mnky-cursor-pointer-value;
	@include user-select(none);
	
	// Color styling
	color: $mnky-button-font-color-opposite;
	color: rgba($mnky-button-font-color-opposite, .65);
	background-color: $mnky-button-default-bck-color;
	
	// HOVER Styling
	&:hover {
		
		// Color styling
		color: $mnky-button-font-color-opposite;
		color: rgba($mnky-button-font-color-opposite, 1);
		background-color: lighten($mnky-button-default-bck-color, 2%);
		
		.icon { opacity: .85; }
	}
	
	// ACTIVE Styling
	&:active {
		top: 1px;
		position: relative;
		
		// Color styling
		background-color: darken($mnky-button-default-bck-color, 8%);
		color: $mnky-button-font-color-opposite;
		color: rgba($mnky-button-font-color-opposite, 1);
	}
	
}

// Spacing between a button or button group
.mnky.button +.mnky.button,
.mnky.buttons + .mnky.buttons {
	margin-left: $mnky-button-spacing-horizontal;
}

// =========================
// Button #Disabled
// =========================

.mnky.buttons .disabled.button,
.mnky.disabled.button,
.mnky.button:disabled,
.mnky.disabled.button:hover,
.mnky.disabled.active.button {
	cursor: $mnky-cursor-default-value;
	background-color: $mnky-button-disabled-bck-color !important;
	color: $mnky-button-disabled !important;
	opacity: 0.3 !important;
	background-image: none !important;
	box-shadow: none !important;
	pointer-events: none;
}

/* Basic Group With Disabled */
.mnky.outline.buttons .mnky.disabled.button {
	border-color: $mnky-button-disabled;
}

// =========================
// Button #Basic
// =========================

.mnky.outline.button,
.mnky.outline.buttons .button {
	background: transparent !important;
	background-image: none;
	color: rgba(0, 0, 0, 0.6) !important;
	text-transform: uppercase;
	font-weight: 500;
	border-radius: $mnky-button-border-radius;
	text-shadow: none !important;
	box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.15) inset;
	
	&:hover {
		background: #fafafa !important;
		color: rgba(0, 0, 0, 0.8) !important;
		box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.2) inset, 0px 0px 0px 0px rgba(0, 0, 0, 0.2) inset;
	}
	
	&:active {
		background: #f8f8f8 !important;
		color: rgba(0, 0, 0, 0.8) !important;
		box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.25) inset, 0px 1px 4px 0px rgba(0, 0, 0, 0.25) inset;
	}
}

// =========================
// Buttons #Core
// =========================

.mnky.buttons {
	display: inline-block;
	vertical-align: middle;
	border-radius: $mnky-button-border-radius;
	margin-top: $mnky-button-margin-vertical;
	margin-bottom: $mnky-button-margin-vertical;
	
	.button {
		margin: 0em;
		float: left;
		border-radius: 0em;
		margin: 0px 0px 0px 0px;
		padding: $mnky-button-padding-vertical $mnky-button-padding-horizontal;
		
		// Color
		color: $mnky-button-font-color-opposite;
		background-color: $mnky-button-default-bck-color;
		
		&:first-child {
			margin-left: 0em;
			border-top-left-radius: $mnky-button-border-radius;
			border-bottom-left-radius: $mnky-button-border-radius;
		}
		
		&:last-child {
			border-top-right-radius: $mnky-button-border-radius;
			border-bottom-right-radius: $mnky-button-border-radius;
		}
		
		/* HOVER style */
		&:hover { background-color: lighten($mnky-button-default-bck-color, 5%); }
		/* ACTIVE style */
		&:active,
		&.active {
			position: relative;
			
			// Color
			background-color: darken($mnky-button-default-bck-color, 8%);
		}
	}
}

.mnky.buttons:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

// =========================
// Button #Icon
// =========================

.mnky.button > .icon {
	opacity: 0.8;
	margin: 0em 0.4em 0em -0.2em;
	-webkit-transition: opacity 0.2s ease;
	transition: opacity 0.2s ease;
	vertical-align: baseline;
	color: '';
}
.mnky.button > .right.icon {
	margin: 0em -0.2em 0em 0.4em;
}

// =========================
// Button #Gradient
// =========================

.mnky.gradient.button,
.mnky.gradient.buttons .button {
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15))!important;
	
	&:hover { background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2))!important; }
	&:active { background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0))!important; }
}

// =========================
// Button #Bordered
// =========================

.mnky.button.bordered,
.mnky.buttons.bordered {
	box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, .15) inset;
	
	&:hover { box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, .2) inset; }
	&:active { box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, .3) inset; }
}

// =========================
// Button #Sizes
// =========================

// Small button size
.mnky.small.button,
.mnky.small.buttons .button {
	@include rem2px(font-size, $mnky-font-size-small);
	padding: ($mnky-button-padding-vertical /2) ($mnky-button-padding-horizontal /2);
}
	
//large button size
.mnky.large.button,
.mnky.large.buttons .button {
	@include rem2px(font-size, $mnky-font-size-large);
	padding: ($mnky-button-padding-vertical * 1.5) ($mnky-button-padding-horizontal * 1.5);
}
	
//Huge button size
.mnky.huge.button,
.mnky.huge.buttons .button {
	@include rem2px(font-size, $mnky-font-size-x-large);
	padding: ($mnky-button-padding-vertical * 2) ($mnky-button-padding-horizontal * 2);
}

// =========================
// #ColorList
// =========================

/*--- Primary ---*/

.mnky.primary.button,
.mnky.primary.buttons .button {
	background-color: $mnky-primary-color;
	color: $mnky-button-font-color;
	background-image: none;
	
	// HOVER style
	&:hover {
		background-color: lighten($mnky-primary-color, 5%);
		color: $mnky-button-font-color;
	}
	
	// ACTIVE style
	&:active,
	&.active {
		background-color: darken($mnky-primary-color, 5%);
		color: $mnky-button-font-color;
	}
}

// Basic button
.mnky.outline.primary.button,
.mnky.outline.primary.buttons .button {
	box-shadow: 0px 0px 0px 2px rgba($mnky-primary-color, 0.5) inset !important;
	color: rgba($mnky-primary-color, 0.6) !important;
	
	// HOVER style
	&:hover {
		color: rgba($mnky-primary-color, 0.8) !important;
		background-color: transparent !important;
		box-shadow: 0px 0px 0px 2px rgba($mnky-primary-color, 0.75) inset !important;
	}
	
	// ACTIVE style
	&:active,
	&.active {
		color: $mnky-primary-color !important;
		box-shadow: 0px 0px 0px 2px $mnky-primary-color inset !important;
	}
}

// Inverted =========================

.mnky.inverted.primary.button,
.mnky.inverted.primary.buttons .button {
	background-color: transparent;
	color: $mnky-button-font-color;
	
	// HOVER style
	&:hover {
		box-shadow: 0px 0px 0px 2px rgba(mnky-color(white-alpha-4), .15) inset !important;
	}
	
	// ACTIVE style
	&:active,
	&.active {
		color: $mnky-button-font-color !important;
		background-color: lighten($mnky-primary-color, 5%);
	}
}

.mnky.inverted.basic.primary.button,
.mnky.inverted.basic.primary.buttons .button {
	color: rgba(mnky-color(white-alpha-4), 0.6) !important;
	box-shadow: 0px 0px 0px 2px rgba(mnky-color(white-alpha-4), .15) inset !important;
	
	// HOVER style
	&:hover {
		color: lighten($mnky-primary-color, .2%) !important;
		box-shadow: 0px 0px 0px 2px lighten($mnky-primary-color, .2%) inset !important;
	}
	
	// ACTIVE style
	&:active,
	&.active {
		color: $mnky-primary-color !important;
		box-shadow: 0px 0px 0px 2px $mnky-primary-color inset !important;
	}
}

/*--- Secondary ---*/

.mnky.secondary.button,
.mnky.secondary.buttons .button {
	background-color: $mnky-secondary-color;
	color: $mnky-button-font-color;
	background-image: none;
	
	// HOVER style
	&:hover {
		background-color: lighten($mnky-secondary-color, 5%);
		color: $mnky-button-font-color;
	}
	
	// ACTIVE style
	&:active,
	&.active {
		background-color: darken($mnky-secondary-color, 5%);
		color: $mnky-button-font-color;
	}
}

// Basic button
.mnky.outline.secondary.button,
.mnky.outline.secondary.buttons .button {
	box-shadow: 0px 0px 0px 2px rgba($mnky-secondary-color, 0.5) inset !important;
	color: rgba($mnky-secondary-color, 0.6) !important;
	
	// HOVER style
	&:hover {
		color: rgba($mnky-secondary-color, 0.8) !important;
		background-color: transparent !important;
		box-shadow: 0px 0px 0px 2px rgba($mnky-secondary-color, 0.75) inset !important;
	}
	
	// ACTIVE style
	&:active,
	&.active {
		color: $mnky-secondary-color !important;
		box-shadow: 0px 0px 0px 2px $mnky-secondary-color inset !important;
	}
}

// Inverted =========================

.mnky.inverted.secondary.button,
.mnky.inverted.secondary.buttons .button {
	background-color: transparent;
	color: $mnky-button-font-color;
	
	// HOVER style
	&:hover {
		box-shadow: 0px 0px 0px 2px rgba(mnky-color(white-alpha-4), .15) inset !important;
	}
	
	// ACTIVE style
	&:active,
	&.active {
		color: $mnky-button-font-color !important;
		background-color: lighten($mnky-secondary-color, 5%);
	}
}

.mnky.inverted.basic.secondary.button,
.mnky.inverted.basic.secondary.buttons .button {
	color: rgba(mnky-color(white-alpha-4), 0.6) !important;
	box-shadow: 0px 0px 0px 2px rgba(mnky-color(white-alpha-4), .15) inset !important;
	
	// HOVER style
	&:hover {
		color: lighten($mnky-secondary-color, .2%) !important;
		box-shadow: 0px 0px 0px 2px lighten($mnky-secondary-color, .2%) inset !important;
	}
	
	// ACTIVE style
	&:active,
	&.active {
		color: $mnky-secondary-color !important;
		box-shadow: 0px 0px 0px 2px $mnky-secondary-color inset !important;
	}
}

/*--- Black ---*/

.mnky.black.button,
.mnky.black.buttons .button {
	background-color: $mnky-button-color-black;
	color: $mnky-button-font-color;
	background-image: none;
	
	// HOVER style
	&:hover {
		background-color: lighten($mnky-button-color-black, 10%);
		color: $mnky-button-font-color;
	}
	
	// ACTIVE style
	&:active,
	&.active {
		background-color: darken($mnky-button-color-black, 10%);
		color: $mnky-button-font-color;
	}
}

// Basic button
.mnky.outline.black.button,
.mnky.outline.black.buttons .button {
	box-shadow: 0px 0px 0px 2px rgba($mnky-button-color-black, 0.5) inset !important;
	color: rgba($mnky-button-color-black, 0.6) !important;
	
	// HOVER style
	&:hover {
		color: rgba($mnky-button-color-black, 0.8) !important;
		background-color: transparent !important;
		box-shadow: 0px 0px 0px 2px rgba($mnky-button-color-black, 0.75) inset !important;
	}
	
	// ACTIVE style
	&:active,
	&.active {
		color: $mnky-button-color-black !important;
		box-shadow: 0px 0px 0px 2px $mnky-button-color-black inset !important;
	}
}

// Inverted =========================

.mnky.inverted.black.button,
.mnky.inverted.black.buttons .button {
	background-color: transparent;
	color: $mnky-button-font-color;
	
	// HOVER style
	&:hover {
		box-shadow: 0px 0px 0px 2px rgba(mnky-color(white-alpha-4), .15) inset !important;
	}
	
	// ACTIVE style
	&:active,
	&.active {
		color: $mnky-button-font-color !important;
		background-color: lighten($mnky-button-color-black, 5%);
	}
}

.mnky.inverted.basic.black.button,
.mnky.inverted.basic.black.buttons .button {
	color: rgba(mnky-color(white-alpha-4), 0.6) !important;
	box-shadow: 0px 0px 0px 2px rgba(mnky-color(white-alpha-4), .15) inset !important;
	
	// HOVER style
	&:hover {
		color: lighten($mnky-button-color-black, .2%) !important;
		box-shadow: 0px 0px 0px 2px lighten($mnky-button-color-black, .2%) inset !important;
	}
	
	// ACTIVE style
	&:active,
	&.active {
		color: $mnky-button-color-black !important;
		box-shadow: 0px 0px 0px 2px $mnky-button-color-black inset !important;
	}
}

/*--- Blue ---*/

.mnky.blue.button,
.mnky.blue.buttons .button {
	background-color: $mnky-button-color-blue;
	color: $mnky-button-font-color;
	background-image: none;
	
	// HOVER style
	&:hover {
		background-color: lighten($mnky-button-color-blue, 5%);
		color: $mnky-button-font-color;
	}
	
	// ACTIVE style
	&:active,
	&.active {
		background-color: darken($mnky-button-color-blue, 5%);
		color: $mnky-button-font-color;
	}
}

// Basic button
.mnky.outline.blue.button,
.mnky.outline.blue.buttons .button {
	box-shadow: 0px 0px 0px 2px rgba($mnky-button-color-blue, 0.5) inset !important;
	color: rgba($mnky-button-color-blue, 0.6) !important;
	
	// HOVER style
	&:hover {
		color: rgba($mnky-button-color-blue, 0.8) !important;
		background-color: transparent !important;
		box-shadow: 0px 0px 0px 2px rgba($mnky-button-color-blue, 0.75) inset !important;
	}
	
	// ACTIVE style
	&:active,
	&.active {
		color: $mnky-button-color-blue !important;
		box-shadow: 0px 0px 0px 2px $mnky-button-color-blue inset !important;
	}
}

// Inverted =========================

.mnky.inverted.blue.button,
.mnky.inverted.blue.buttons .button {
	background-color: transparent;
	color: $mnky-button-font-color;
	
	// HOVER style
	&:hover {
		box-shadow: 0px 0px 0px 2px rgba(mnky-color(white-alpha-4), .15) inset !important;
	}
	
	// ACTIVE style
	&:active,
	&.active {
		color: $mnky-button-font-color !important;
		background-color: lighten($mnky-button-color-blue, 5%);
	}
}

.mnky.inverted.basic.blue.button,
.mnky.inverted.basic.blue.buttons .button {
	color: rgba(mnky-color(white-alpha-4), 0.6) !important;
	box-shadow: 0px 0px 0px 2px rgba(mnky-color(white-alpha-4), .15) inset !important;
	
	// HOVER style
	&:hover {
		color: lighten($mnky-button-color-blue, .2%) !important;
		box-shadow: 0px 0px 0px 2px lighten($mnky-button-color-blue, .2%) inset !important;
	}
	
	// ACTIVE style
	&:active,
	&.active {
		color: $mnky-button-color-blue !important;
		box-shadow: 0px 0px 0px 2px $mnky-button-color-blue inset !important;
	}
}

/*--- Green ---*/

.mnky.green.button,
.mnky.green.buttons .button {
	background-color: $mnky-button-color-green;
	color: $mnky-button-font-color;
	background-image: none;
	
	// HOVER style
	&:hover {
		background-color: lighten($mnky-button-color-green, 5%);
		color: $mnky-button-font-color;
	}
	
	// ACTIVE style
	&:active,
	&.active {
		background-color: darken($mnky-button-color-green, 5%);
		color: $mnky-button-font-color;
	}
}

// Basic button
.mnky.outline.green.button,
.mnky.outline.green.buttons .button {
	box-shadow: 0px 0px 0px 2px rgba($mnky-button-color-green, 0.5) inset !important;
	color: rgba($mnky-button-color-green, 0.6) !important;
	
	// HOVER style
	&:hover {
		color: rgba($mnky-button-color-green, 0.8) !important;
		background-color: transparent !important;
		box-shadow: 0px 0px 0px 2px rgba($mnky-button-color-green, 0.75) inset !important;
	}
	
	// ACTIVE style
	&:active,
	&.active {
		color: $mnky-button-color-green !important;
		box-shadow: 0px 0px 0px 2px $mnky-button-color-green inset !important;
	}
}

// Inverted =========================

.mnky.inverted.green.button,
.mnky.inverted.green.buttons .button {
	background-color: transparent;
	color: $mnky-button-font-color;
	
	// HOVER style
	&:hover {
		box-shadow: 0px 0px 0px 2px rgba(mnky-color(white-alpha-4), .15) inset !important;
	}
	
	// ACTIVE style
	&:active,
	&.active {
		color: $mnky-button-font-color !important;
		background-color: lighten($mnky-button-color-green, 5%);
	}
}

.mnky.inverted.basic.green.button,
.mnky.inverted.basic.green.buttons .button {
	color: rgba(mnky-color(white-alpha-4), 0.6) !important;
	box-shadow: 0px 0px 0px 2px rgba(mnky-color(white-alpha-4), .15) inset !important;
	
	// HOVER style
	&:hover {
		color: lighten($mnky-button-color-green, .2%) !important;
		box-shadow: 0px 0px 0px 2px lighten($mnky-button-color-green, .2%) inset !important;
	}
	
	// ACTIVE style
	&:active,
	&.active {
		color: $mnky-button-color-green !important;
		box-shadow: 0px 0px 0px 2px $mnky-button-color-green inset !important;
	}
}

/*--- Orange ---*/

.mnky.orange.button,
.mnky.orange.buttons .button {
	background-color: $mnky-button-color-orange;
	color: $mnky-button-font-color;
	background-image: none;
	
	// HOVER style
	&:hover {
		background-color: lighten($mnky-button-color-orange, 5%);
		color: $mnky-button-font-color;
	}
	
	// ACTIVE style
	&:active,
	&.active {
		background-color: darken($mnky-button-color-orange, 5%);
		color: $mnky-button-font-color;
	}
}

// Basic button
.mnky.outline.orange.button,
.mnky.outline.orange.buttons .button {
	box-shadow: 0px 0px 0px 2px rgba($mnky-button-color-orange, 0.5) inset !important;
	color: rgba($mnky-button-color-orange, 0.6) !important;
	
	// HOVER style
	&:hover {
		color: rgba($mnky-button-color-orange, 0.8) !important;
		background-color: transparent !important;
		box-shadow: 0px 0px 0px 2px rgba($mnky-button-color-orange, 0.75) inset !important;
	}
	
	// ACTIVE style
	&:active,
	&.active {
		color: $mnky-button-color-orange !important;
		box-shadow: 0px 0px 0px 2px $mnky-button-color-orange inset !important;
	}
}

// Inverted =========================

.mnky.inverted.orange.button,
.mnky.inverted.orange.buttons .button {
	background-color: transparent;
	color: $mnky-button-font-color;
	
	// HOVER style
	&:hover {
		box-shadow: 0px 0px 0px 2px rgba(mnky-color(white-alpha-4), .15) inset !important;
	}
	
	// ACTIVE style
	&:active,
	&.active {
		color: $mnky-button-font-color !important;
		background-color: lighten($mnky-button-color-orange, 5%);
	}
}

.mnky.inverted.basic.orange.button,
.mnky.inverted.basic.orange.buttons .button {
	color: rgba(mnky-color(white-alpha-4), 0.6) !important;
	box-shadow: 0px 0px 0px 2px rgba(mnky-color(white-alpha-4), .15) inset !important;
	
	// HOVER style
	&:hover {
		color: lighten($mnky-button-color-orange, .2%) !important;
		box-shadow: 0px 0px 0px 2px lighten($mnky-button-color-orange, .2%) inset !important;
	}
	
	// ACTIVE style
	&:active,
	&.active {
		color: $mnky-button-color-orange !important;
		box-shadow: 0px 0px 0px 2px $mnky-button-color-orange inset !important;
	}
}

/*--- Pink ---*/

.mnky.pink.button,
.mnky.pink.buttons .button {
	background-color: $mnky-button-color-pink;
	color: $mnky-button-font-color;
	background-image: none;
	
	// HOVER style
	&:hover {
		background-color: lighten($mnky-button-color-pink, 5%);
		color: $mnky-button-font-color;
	}
	
	// ACTIVE style
	&:active,
	&.active {
		background-color: darken($mnky-button-color-pink, 5%);
		color: $mnky-button-font-color;
	}
}

// Basic button
.mnky.outline.pink.button,
.mnky.outline.pink.buttons .button {
	box-shadow: 0px 0px 0px 2px rgba($mnky-button-color-pink, 0.5) inset !important;
	color: rgba($mnky-button-color-pink, 0.6) !important;
	
	// HOVER style
	&:hover {
		color: rgba($mnky-button-color-pink, 0.8) !important;
		background-color: transparent !important;
		box-shadow: 0px 0px 0px 2px rgba($mnky-button-color-pink, 0.75) inset !important;
	}
	
	// ACTIVE style
	&:active,
	&.active {
		color: $mnky-button-color-pink !important;
		box-shadow: 0px 0px 0px 2px $mnky-button-color-pink inset !important;
	}
}

// Inverted =========================

.mnky.inverted.pink.button,
.mnky.inverted.pink.buttons .button {
	background-color: transparent;
	color: $mnky-button-font-color;
	
	// HOVER style
	&:hover {
		box-shadow: 0px 0px 0px 2px rgba(mnky-color(white-alpha-4), .15) inset !important;
	}
	
	// ACTIVE style
	&:active,
	&.active {
		color: $mnky-button-font-color !important;
		background-color: lighten($mnky-button-color-pink, 5%);
	}
}

.mnky.inverted.basic.pink.button,
.mnky.inverted.basic.pink.buttons .button {
	color: rgba(mnky-color(white-alpha-4), 0.6) !important;
	box-shadow: 0px 0px 0px 2px rgba(mnky-color(white-alpha-4), .15) inset !important;
	
	// HOVER style
	&:hover {
		color: lighten($mnky-button-color-pink, .2%) !important;
		box-shadow: 0px 0px 0px 2px lighten($mnky-button-color-pink, .2%) inset !important;
	}
	
	// ACTIVE style
	&:active,
	&.active {
		color: $mnky-button-color-pink !important;
		box-shadow: 0px 0px 0px 2px $mnky-button-color-pink inset !important;
	}
}

/*--- Purple ---*/

.mnky.purple.button,
.mnky.purple.buttons .button {
	background-color: $mnky-button-color-purple;
	color: $mnky-button-font-color;
	background-image: none;
	
	// HOVER style
	&:hover {
		background-color: lighten($mnky-button-color-purple, 5%);
		color: $mnky-button-font-color;
	}
	
	// ACTIVE style
	&:active,
	&.active {
		background-color: darken($mnky-button-color-purple, 5%);
		color: $mnky-button-font-color;
	}
}

// Basic button
.mnky.outline.purple.button,
.mnky.outline.purple.buttons .button {
	box-shadow: 0px 0px 0px 2px rgba($mnky-button-color-purple, 0.5) inset !important;
	color: rgba($mnky-button-color-purple, 0.6) !important;
	
	// HOVER style
	&:hover {
		color: rgba($mnky-button-color-purple, 0.8) !important;
		background-color: transparent !important;
		box-shadow: 0px 0px 0px 2px rgba($mnky-button-color-purple, 0.75) inset !important;
	}
	
	// ACTIVE style
	&:active,
	&.active {
		color: $mnky-button-color-purple !important;
		box-shadow: 0px 0px 0px 2px $mnky-button-color-purple inset !important;
	}
}

// Inverted =========================

.mnky.inverted.purple.button,
.mnky.inverted.purple.buttons .button {
	background-color: transparent;
	color: $mnky-button-font-color;
	
	// HOVER style
	&:hover {
		box-shadow: 0px 0px 0px 2px rgba(mnky-color(white-alpha-4), .15) inset !important;
	}
	
	// ACTIVE style
	&:active,
	&.active {
		color: $mnky-button-font-color !important;
		background-color: lighten($mnky-button-color-purple, 5%);
	}
}

.mnky.inverted.basic.purple.button,
.mnky.inverted.basic.purple.buttons .button {
	color: rgba(mnky-color(white-alpha-4), 0.6) !important;
	box-shadow: 0px 0px 0px 2px rgba(mnky-color(white-alpha-4), .15) inset !important;
	
	// HOVER style
	&:hover {
		color: lighten($mnky-button-color-purple, .2%) !important;
		box-shadow: 0px 0px 0px 2px lighten($mnky-button-color-purple, .2%) inset !important;
	}
	
	// ACTIVE style
	&:active,
	&.active {
		color: $mnky-button-color-purple !important;
		box-shadow: 0px 0px 0px 2px $mnky-button-color-purple inset !important;
	}
}

/*--- Red ---*/

.mnky.red.button,
.mnky.red.buttons .button {
	background-color: $mnky-button-color-red;
	color: $mnky-button-font-color;
	background-image: none;
	
	// HOVER style
	&:hover {
		background-color: lighten($mnky-button-color-red, 5%);
		color: $mnky-button-font-color;
	}
	
	// ACTIVE style
	&:active,
	&.active {
		background-color: darken($mnky-button-color-red, 5%);
		color: $mnky-button-font-color;
	}
}

// Basic button
.mnky.outline.red.button,
.mnky.outline.red.buttons .button {
	box-shadow: 0px 0px 0px 2px rgba($mnky-button-color-red, 0.5) inset !important;
	color: rgba($mnky-button-color-red, 0.6) !important;
	
	// HOVER style
	&:hover {
		color: rgba($mnky-button-color-red, 0.8) !important;
		background-color: transparent !important;
		box-shadow: 0px 0px 0px 2px rgba($mnky-button-color-red, 0.75) inset !important;
	}
	
	// ACTIVE style
	&:active,
	&.active {
		color: $mnky-button-color-red !important;
		box-shadow: 0px 0px 0px 2px $mnky-button-color-red inset !important;
	}
}

// Inverted =========================

.mnky.inverted.red.button,
.mnky.inverted.red.buttons .button {
	background-color: transparent;
	color: $mnky-button-font-color;
	
	// HOVER style
	&:hover {
		box-shadow: 0px 0px 0px 2px rgba(mnky-color(white-alpha-4), .15) inset !important;
	}
	
	// ACTIVE style
	&:active,
	&.active {
		color: $mnky-button-font-color !important;
		background-color: lighten($mnky-button-color-red, 5%);
	}
}

.mnky.inverted.basic.red.button,
.mnky.inverted.basic.red.buttons .button {
	color: rgba(mnky-color(white-alpha-4), 0.6) !important;
	box-shadow: 0px 0px 0px 2px rgba(mnky-color(white-alpha-4), .15) inset !important;
	
	// HOVER style
	&:hover {
		color: lighten($mnky-button-color-red, .2%) !important;
		box-shadow: 0px 0px 0px 2px lighten($mnky-button-color-red, .2%) inset !important;
	}
	
	// ACTIVE style
	&:active,
	&.active {
		color: $mnky-button-color-red !important;
		box-shadow: 0px 0px 0px 2px $mnky-button-color-red inset !important;
	}
}

/*--- Teal ---*/

.mnky.teal.button,
.mnky.teal.buttons .button {
	background-color: $mnky-button-color-teal;
	color: $mnky-button-font-color;
	background-image: none;
	
	// HOVER style
	&:hover {
		background-color: lighten($mnky-button-color-teal, 5%);
		color: $mnky-button-font-color;
	}
	
	// ACTIVE style
	&:active,
	&.active {
		background-color: darken($mnky-button-color-teal, 5%);
		color: $mnky-button-font-color;
	}
}

// Basic button
.mnky.outline.teal.button,
.mnky.outline.teal.buttons .button {
	box-shadow: 0px 0px 0px 2px rgba($mnky-button-color-teal, 0.5) inset !important;
	color: rgba($mnky-button-color-teal, 0.6) !important;
	
	// HOVER style
	&:hover {
		color: rgba($mnky-button-color-teal, 0.8) !important;
		background-color: transparent !important;
		box-shadow: 0px 0px 0px 2px rgba($mnky-button-color-teal, 0.75) inset !important;
	}
	
	// ACTIVE style
	&:active,
	&.active {
		color: $mnky-button-color-teal !important;
		box-shadow: 0px 0px 0px 2px $mnky-button-color-teal inset !important;
	}
}

// Inverted =========================

.mnky.inverted.teal.button,
.mnky.inverted.teal.buttons .button {
	background-color: transparent;
	color: $mnky-button-font-color;
	
	// HOVER style
	&:hover {
		box-shadow: 0px 0px 0px 2px rgba(mnky-color(white-alpha-4), .15) inset !important;
	}
	
	// ACTIVE style
	&:active,
	&.active {
		color: $mnky-button-font-color !important;
		background-color: lighten($mnky-button-color-teal, 5%);
	}
}

.mnky.inverted.basic.teal.button,
.mnky.inverted.basic.teal.buttons .button {
	color: rgba(mnky-color(white-alpha-4), 0.6) !important;
	box-shadow: 0px 0px 0px 2px rgba(mnky-color(white-alpha-4), .15) inset !important;
	
	// HOVER style
	&:hover {
		color: lighten($mnky-button-color-teal, .2%) !important;
		box-shadow: 0px 0px 0px 2px lighten($mnky-button-color-teal, .2%) inset !important;
	}
	
	// ACTIVE style
	&:active,
	&.active {
		color: $mnky-button-color-teal !important;
		box-shadow: 0px 0px 0px 2px $mnky-button-color-teal inset !important;
	}
}

/*--- Yellow ---*/

.mnky.yellow.button,
.mnky.yellow.buttons .button {
	background-color: $mnky-button-color-yellow;
	color: $mnky-button-font-color;
	background-image: none;
	
	// HOVER style
	&:hover {
		background-color: lighten($mnky-button-color-yellow, 5%);
		color: $mnky-button-font-color;
	}
	
	// ACTIVE style
	&:active,
	&.active {
		background-color: darken($mnky-button-color-yellow, 5%);
		color: $mnky-button-font-color;
	}
}

// Basic button
.mnky.outline.yellow.button,
.mnky.outline.yellow.buttons .button {
	box-shadow: 0px 0px 0px 2px rgba($mnky-button-color-yellow, 0.5) inset !important;
	color: rgba($mnky-button-color-yellow, 0.6) !important;
	
	// HOVER style
	&:hover {
		color: rgba($mnky-button-color-yellow, 0.8) !important;
		background-color: transparent !important;
		box-shadow: 0px 0px 0px 2px rgba($mnky-button-color-yellow, 0.75) inset !important;
	}
	
	// ACTIVE style
	&:active,
	&.active {
		color: $mnky-button-color-yellow !important;
		box-shadow: 0px 0px 0px 2px $mnky-button-color-yellow inset !important;
	}
}

// Inverted =========================

.mnky.inverted.yellow.button,
.mnky.inverted.yellow.buttons .button {
	background-color: transparent;
	color: $mnky-button-font-color;
	
	// HOVER style
	&:hover {
		box-shadow: 0px 0px 0px 2px rgba(mnky-color(white-alpha-4), .15) inset !important;
	}
	
	// ACTIVE style
	&:active,
	&.active {
		color: $mnky-button-font-color !important;
		background-color: lighten($mnky-button-color-yellow, 5%);
	}
}

.mnky.inverted.basic.yellow.button,
.mnky.inverted.basic.yellow.buttons .button {
	color: rgba(mnky-color(white-alpha-4), 0.6) !important;
	box-shadow: 0px 0px 0px 2px rgba(mnky-color(white-alpha-4), .15) inset !important;
	
	// HOVER style
	&:hover {
		color: lighten($mnky-button-color-yellow, .2%) !important;
		box-shadow: 0px 0px 0px 2px lighten($mnky-button-color-yellow, .2%) inset !important;
	}
	
	// ACTIVE style
	&:active,
	&.active {
		color: $mnky-button-color-yellow !important;
		box-shadow: 0px 0px 0px 2px $mnky-button-color-yellow inset !important;
	}
}