// =========================
// Form #Core
// =========================

.mnky.form {
	position: relative;
	max-width: 100%;
	
	:first-child {
		margin-top: 0;
	}
	
	:last-child {
		margin-bottom: 0;
	}
}

.mnky.form > p { margin: 1em 0; }

// =========================
// Form #Disabled
// =========================

.mnky.form .field :disabled,
.mnky.form .field.disabled,
.mnky.form .field.disabled label {
	opacity: .5;
}

.mnky.form .field.disabled :disabled {
	opacity: 1;
}

// =========================
// Form #Fluid
// =========================

.mnky.form.fluid {
  width: 100%;
  @include box-sizing(border-box);
}

// =========================
// Form #Field
// =========================

.mnky.form .field {
	clear: both;
	margin: 0em 0em 1em;
	
	&:after {
		content: ' ';
		display: block;
		clear: both;
		visibility: hidden;
		line-height: 0;
		height: 0;
	}
}

.mnky.form .fields  > .field {
	clear: none;
	float: left;
	@include box-sizing(border-box);
	
	&:first-child {
		border-left: none;
		box-shadow: none;
	}
}

// =========================
// Form #Fields
// =========================

/* Other Combinations */
.mnky.form .two.fields > .fields,
.mnky.form .two.fields > .field {
	width: 50%;
	padding-left: 1%;
	padding-right: 1%;
}
.mnky.form .three.fields > .fields,
.mnky.form .three.fields > .field {
	width: 33.333%;
	padding-left: 1%;
	padding-right: 1%;
}
.mnky.form .four.fields > .fields,
.mnky.form .four.fields > .field {
	width: 25%;
	padding-left: 1%;
	padding-right: 1%;
}
.mnky.form .five.fields > .fields,
.mnky.form .five.fields > .field {
	width: 20%;
	padding-left: 1%;
	padding-right: 1%;
}

.mnky.form .fields .field:first-child {
	padding-left: 0%;
}
.mnky.form .fields .field:last-child {
	padding-right: 0%;
}

/* Swap to full width on mobile */
@media only screen and (max-width : 767px) {
	.mnky.form .two.fields > .fields,
	.mnky.form .two.fields > .field,
	.mnky.form .three.fields > .fields,
	.mnky.form .three.fields > .field,
	.mnky.form .four.fields > .fields,
	.mnky.form .four.fields > .field,
	.mnky.form .five.fields > .fields,
	.mnky.form .five.fields > .field {
		width: 100%;
		padding-left: 0%;
		padding-right: 0%;
	}
}

// =========================
// Form #Label
// =========================

.mnky.form .field > label {
	margin: 0 0 0.3em;
	display: block;
	@include rem2px(font-size, ($mnky-base-font-size - .2));
	font-weight: bold;
}

// =========================
// Form #Input
// =========================

.mnky.form textarea,
.mnky.form input[type="color"],
.mnky.form input[type="date"],
.mnky.form input[type="datetime"],
.mnky.form input[type="datetime-local"],
.mnky.form input[type="email"],
.mnky.form input[type="month"],
.mnky.form input[type="number"],
.mnky.form input[type="password"],
.mnky.form input[type="range"],
.mnky.form input[type="search"],
.mnky.form input[type="tel"],
.mnky.form input[type="text"],
.mnky.form input[type="time"],
.mnky.form input[type="url"],
.mnky.form input[type="week"],
.mnky.form .mnky.input {
	width: 100%;
}

.mnky.form textarea,
.mnky.form input[type="color"],
.mnky.form input[type="date"],
.mnky.form input[type="datetime"],
.mnky.form input[type="datetime-local"],
.mnky.form input[type="email"],
.mnky.form input[type="month"],
.mnky.form input[type="number"],
.mnky.form input[type="password"],
.mnky.form input[type="range"],
.mnky.form input[type="search"],
.mnky.form input[type="tel"],
.mnky.form input[type="text"],
.mnky.form input[type="time"],
.mnky.form input[type="url"],
.mnky.form input[type="week"] {
	margin: 0em;
	padding: 0.65em 1em;
	font-size: $mnky-base-font-size;
	outline: none;
	
	border-width: 1px;
	border-style: solid;
	border-color: $mnky-input-border-color;
	
	border-radius: $mnky-input-border-radius;
	color: $mnky-input-font-color;
	
	&:focus {
	  color: (0, 0, 0, .85);
	  border-color: $mnky-primary-color;
	  border-radius: $mnky-input-border-radius;
	}
}

.mnky.textarea,
.mnky.form textarea {
	line-height: 1.33;
	min-height: 8em;
	height: 12em;
	max-height: 24em;
	resize: vertical;
}

.mnky.form textarea,
.mnky.form input[type="checkbox"] {
	vertical-align: top;
}

// =========================
// Form #Fields
// =========================

.mnky.form .fields {
	clear: both;
	
	&:after {
		@include clearfix();
	}
}

.mnky.form .fields > .field {
	clear: none;
	float: left;
	@include box-sizing(border-box);
	
	&:first-child {
		border-left: none;
		box-shadow: none;
	}
}

// =========================
// Form #Inline
// =========================

.mnky.form .inline.fields .field {
	min-height: 1.3em;
	margin-right: .5em;
}

.mnky.form .inline.fields .field,
.mnky.form .inline.field {
	
	& > label,
	& > p,
	& > .mnky.input,
	& > input {
		display: inline-block;
		width: auto;
		
		margin-top: 0em;
		margin-bottom: 0em;
		
		vertical-align: middle;
	}
	
	& > &:first-child {
		margin: 0 .5em 0 0;
	}
	
	& > &:child-only {
		margin: 0em;
	}
}

// =========================
// Form #Error
// =========================

/* form warning */
.mnky.form.error .error.message {
	display: block;
}

/* field warning */
.mnky.fields.error .field,
.mnky.field.error {

	& label,
	& .input {
		color: #D95C5C;
	}
	
}

.mnky.form .fields.error .field .corner.label,
.mnky.form .field.error .corner.label {
  border-color: #D95C5C;
  color: #FFFFFF;
}

.mnky.form .fields.error .field,
.mnky.form .field.error {

	textarea,
	input[type="color"],
	input[type="date"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="email"],
	input[type="month"],
	input[type="number"],
	input[type="password"],
	input[type="search"],
	input[type="tel"],
	input[type="text"],
	input[type="time"],
	input[type="url"],
	input[type="week"] {
		background-color: #FFFAFA;
		border-color: #E7BEBE;
		color: #D95C5C;
		padding-left: 1.2em;
	}

}

.mnky.form .field.error {

	textarea:focus,
	input[type="color"]:focus,
	input[type="date"]:focus,
	input[type="datetime"]:focus,
	input[type="datetime-local"]:focus,
	input[type="email"]:focus,
	input[type="month"]:focus,
	input[type="number"]:focus,
	input[type="password"]:focus,
	input[type="search"]:focus,
	input[type="tel"]:focus,
	input[type="text"]:focus,
	input[type="time"]:focus,
	input[type="url"]:focus,
	input[type="week"]:focus {
		border-color: rgba(255, 80, 80, 1);
		color: rgba(255, 80, 80, 1);
		border-radius: $mnky-input-border-radius;
	}
}

.mnky.form .error ::-webkit-input-placeholder {
	color: rgba(255, 80, 80, 0.4);
}
.mnky.form .error ::-moz-placeholder {
	color: rgba(255, 80, 80, 0.4);
}
.mnky.form .error :focus::-webkit-input-placeholder {
	color: rgba(255, 80, 80, 0.7);
}
.mnky.form .error :focus::-moz-placeholder {
	color: rgba(255, 80, 80, 0.7);
}