$miniWidth:								2;
$tinyWidth:								8;
$smallWidth:							15;
$mediumWidth:							30;
$largeWidth:							45;
$xlargeWidth:							60;
$xxlargeWidth:							80;
$xxxlargeWidth:							96;

$img-float-margin:						4;

// =========================
// Image #Core
// =========================

.mnky.image {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
}

img.mnky.image {
	display: block;
}

.mnky.image svg,
.mnky.image img {
		display: block;
		max-width: 100%;
		height: auto;
	}

// =========================
// Image #Disabled
// =========================

.mnky.disabled.image,
.mnky.disabled.images {
	cursor: default;
	opacity: .3;
}

// =========================
// Button #Alignement
// =========================

// inline
.mnky.inline.image,
.mnky.inline.image svg,
.mnky.inline.image img {
	display: inline-block;
}

// Vertical aligned

.mnky.top.aligned.images .image,
.mnky.top.aligned.image,
.mnky.top.aligned.image svg,
.mnky.top.aligned.image img {
	display: inline-block;
	vertical-align: top;
}

.mnky.middle.aligned.images .image,
.mnky.middle.aligned.image,
.mnky.middle.aligned.image svg,
.mnky.middle.aligned.image img {
	display: inline-block;
	vertical-align: middle;
}


.mnky.bottom.aligned.images .image,
.mnky.bottom.aligned.image,
.mnky.bottom.aligned.image svg,
.mnky.bottom.aligned.image img {
	display: inline-block;
	vertical-align: bottom;
}

// =========================
// Image #Styles
// =========================

.mnky.rounded.images .image,
.mnky.rounded.images svg,
.mnky.rounded.images img,
.mnky.rounded.image,
.mnky.rounded.image svg,
.mnky.rounded.image img {
	@include rem2px(border-radius, 3);
}

// Circular =========================

.mnky.circular.images .image,
.mnky.circular.images svg,
.mnky.circular.images img,
.mnky.circular.image,
.mnky.circular.image svg,
.mnky.circular.image img {
	border-radius: 50%;
}

// =========================
// Image #Floated
// =========================

.mnky.floated.image,
.mnky.floated.images {
	float: left;
	margin-right: $img-float-margin;
	margin-bottom: $img-float-margin;
	
	&:last-child { margin-bottom:  0; }
}

.mnky.right.floated.image,
.mnky.right.floated.images {
	float: right;
	margin-right: 0;
	margin-left: $img-float-margin;
	margin-bottom: $img-float-margin;
	
	&:last-child { margin-bottom:  0; }
}

// =========================
// Image #Center
// =========================

.mnky.centered.images,
.mnky.centered.image {
	margin-left: auto;
	margin-right: auto;
}

// =========================
// Image #Sizes
// =========================

.mnky.mini.images .image,
.mnky.mini.images img,
.mnky.mini.images svg,
.mnky.mini.image {
	@include rem2px(width, $miniWidth);
	height: auto;
	//font-size: $mini;
}

.mnky.tiny.images .image,
.mnky.tiny.images img,
.mnky.tiny.images svg,
.mnky.tiny.image {
	@include rem2px(width, $tinyWidth);
	height: auto;
	//font-size: $tiny;
}

.mnky.small.images .image,
.mnky.small.images img,
.mnky.small.images svg,
.mnky.small.image {
	@include rem2px(width, $smallWidth);
	height: auto;
	//font-size: $small;
}

.mnky.medium.images .image,
.mnky.medium.images img,
.mnky.medium.images svg,
.mnky.medium.image {
	@include rem2px(width, $mediumWidth);
	height: auto;
	//font-size: $medium;
}

.mnky.large.images .image,
.mnky.large.images img,
.mnky.large.images svg,
.mnky.large.image {
	@include rem2px(width, $largeWidth);
	height: auto;
	//font-size: $large;
}

.mnky.xlarge.images .image,
.mnky.xlarge.images img,
.mnky.xlarge.images svg,
.mnky.xlarge.image {
	@include rem2px(width, $xlargeWidth);
	height: auto;
	//font-size: $xlarge;
}

.mnky.xxlarge.images .image,
.mnky.xxlarge.images img,
.mnky.xxlarge.images svg,
.mnky.xxlarge.image {
	@include rem2px(width, $xxlargeWidth);
	height: auto;
	//font-size: $xxlarge;
}

.mnky.xxxlarge.images .image,
.mnky.xxxlarge.images img,
.mnky.xxxlarge.images svg,
.mnky.xxxlarge.image {
	@include rem2px(width, $xxxlargeWidth);
	height: auto;
	//font-size: $xxxlarge;
}