// =========================
// Input #Core
// =========================

.mnky.input {
	display: inline-block;
	position: relative;
	
	input {
		width: 100%;
		margin: 0em;
		padding: 8px 1em;
		border-width: 1px;
		border-style: solid;
		outline: none;
		border-radius: $mnky-input-border-radius;
		@include box-sizing(border-box);
	}
}

// =========================
// Input #Icons
// =========================

.mnky.input.icon {
	
	& > .icon {
		cursor: $mnky-cursor-default-value;
		position: absolute;
		opacity: .5;
		top: 0;
		right: 0;
		width: 2.6em;
		height: 100%;
		padding-top: .72em;
		text-align: center;
		@include box-sizing(border-box);
	}
	
	input { padding-right: 3em!important; }
	
	& > input:focus ~ .icon { opacity: 1; }

// Cicular icons ===
	& > .circular.icon {
		top: 0.35em;
		right: 0.5em;
	}
	
// Input icon left ===
	&.left {
		
		& > .icon {
			right: auto;
			left: 1px;
			border-radius: $mnky-input-border-radius 0 0 $mnky-input-border-radius;
		}
		
		&.input > .circular.icon {
			right: auto;
			left: 0.5em;
		}
		
		& > input {
			padding-left: 2.5em !important;
			padding-right: 1.2em !important;
		}
	}
}

// =========================
// Input #Action
// =========================

.mnky.input.action {
	display: table;
	
	> input {
		display: table-cell;
		border-top-right-radius: 0px!important;
		border-bottom-right-radius: 0px!important;
		border-right: none;
	}
	
	&.fluid {
		display: table;
		width: 100%;
		
		> .button { width: 0.01%; }
	}
}

.mnky.input.action > .button,
.mnky.input.action > .buttons.group {
	display: table-cell;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	white-space: nowrap;
}

.mnky.input.action > .button > .icon,
.mnky.input.action > .buttons.group > .button > .icon {
	display: inline;
	vertical-align: top;
}

// =========================
// Input #Fluid
// =========================

.mnky.input.fluid {
	display: block;
}

// =========================
// Input #Sizes
// =========================

.mnky.input {
	font-size: $mnky-base-font-size;
	
	&.tiny	{ font-size: ($mnky-base-font-size - .1875em); }
	&.small	{ font-size: ($mnky-base-font-size - .125em); }
	&.large	{ font-size: ($mnky-base-font-size + .125em); }
	&.big	{ font-size: ($mnky-base-font-size + .25em); }
	&.huge	{ font-size: ($mnky-base-font-size + .375em); }
}

// =========================
// Input #Labeled
// =========================

.mnky.labeled.input {
	
	.corner.label {
		font-size: ($mnky-base-font-size - .3em);
		border-radius: 0 $mnky-input-border-radius;
	}
	
	.left.corner.label {
		border-radius: $mnky-input-border-radius 0;
	}
	
	input { padding-right: 2.5em!important; }
	
	&:not(.left) > input { margin-right: 3.25em!important}
	
	&:not(.left) > .icon { margin-right: 1.25em; }
}

// =========================
// Input #Colors
// =========================

// Form core colors ============================

.mnky.input {
	color: $mnky-input-font-color;
	
// Form placeholder ===
	&::-webkit-input-placeholder,
	&::-moz-placeholder  { color: #BBBBBB; }
	
	input {
		background-color: mnky-color("white");
		color: $mnky-input-font-color;
		border-color: $mnky-input-border-color;
		
	// Active ===
		&:active {
			border-color: $mnky-primary-color;
		}
		
	// Focus ===
		&:focus {
			border-color: $mnky-primary-color;
			color: rgba(0, 0, 0, 0.85);
		}
	}
}

// Error ===
.mnky.input.error input {
	background-color: #FFFAFA;
	border-color: #E7BEBE;
	color: #D95C5C;
}

// Form placeholder ============================

.mnky.input input:focus input::-webkit-input-placeholder,
.mnky.input input:focus input::-moz-placeholder { color: #AAAAAA; }