// =========================
// Label #Core
// =========================

.mnky.label {
	@include rem2px(font-size, $mnky-font-size-small);
	display: inline-block;
	vertical-align: middle;
	
	margin: -.25em .25em 0em;
	
	padding: .05em .5em;
	
	text-transform: uppercase;
	font-weight: normal;
	
	border-radius: 0.325em;
	@include box-sizing (border-box);
	
	&:first-child { margin-left: 0; }
	&:last-child { margin-right: 0; }
	
	.icon { width: auto; }
}

/*-- Floating --*/
.mnky.floating.label {
	position: absolute;
	z-index: 100;
	top: -1em;
	left: 100%;
	margin: 0em 0em 0em -1.5em !important;
}

/*-- Float right --*/
.mnky.right.label {
	float: right;
	margin: .25em .25em 0;
}

// =========================
// Label #Link
// =========================

a.mnky.label {
	cursor: $mnky-cursor-pointer-value;
}

// Inside Link label
.mnky.label a {
	opacity: .8;
	transition: .2s opacity ease;
	
	&:hover { opacity: 1; }
}

// =========================
// Label #Corner
// =========================

.mnky.corner.label {
	background-color: transparent;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;
	margin: 0;
	
	width: 1.5em;
	height: 1.5em;
	padding: 0em;
	
	text-align: center;
	
	&:after {
		position: absolute;
		content: "";
		right: 1px;
		top: 1px;
		z-index: -1;
		
		width: 0;
		height: 0;
		
		border-top: 0em solid transparent;
		border-right: 1.5em solid transparent;
		border-bottom: 1.5em solid transparent;
		border-left: 0em solid transparent;
		
		border-right-color: inherit;
	}
}

.mnky.corner.label .icon {
	font-size: .5em;
	margin: 0.5em 0em 0em 1.25em;
	padding: 0;
	vertical-align: top;
}

// =========================
// Label #Pointing
// =========================

.mnky.pointing.label { position: relative; }
.mnky.attached.pointing.label { position: absolute; }

.mnky.pointing.label:before {
	position: absolute;
	content: "";
	
	width: .6em;
	height: .6em;
	background-image: none;
	
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
	z-index: 2;
}

/*--- Above ---*/
.mnky.pointing.label,
.mnky.pointing.above.label {
	margin-top: 1em;
	
	&:before {
		margin-left: -0.3em;
		top: -0.3em;
		left: 50%;
	}
}

/*--- Below ---*/
.mnky.pointing.below.label {
	margin-top: 0em;
	margin-bottom: 1em;
	
	&:before {
		margin-left: -0.3em;
		top: auto;
		right: auto;
		bottom: -0.3em;
		left: 50%;
	}
}

/*--- Left ---*/
.mnky.pointing.left.label {
	margin-top: 0em;
	margin-left: 1em;
	
	&:before {
		margin-top: -0.3em;
		bottom: auto;
		right: auto;
		top: 50%;
		left: 0em;
	}
}

/*--- Right ---*/
.ui.pointing.right.label {
	margin-top: 0em;
	margin-right: 1em;
  
	&:before {
		margin-top: -0.3em;
		right: -0.3em;
		top: 50%;
		bottom: auto;
		left: auto;
	}
}

// =========================
// Label #Colors
// =========================

// Labels core colors ==

.mnky.label {
	background-color: mnky-color('lightgrey', '100');
	border-color: mnky-color('lightgrey', '100');
}

/*--- Above ---*/
.mnky.pointing.label:before {
	background-color: mnky-color('lightgrey', '100');
}

// Labels colors ==

/*--- Black ---*/
.mnky.black.labels .label,
.mnky.black.label {
	background-color: #5C6166 !important;
	border-color: #5C6166 !important;
	color: #FFFFFF !important;
}
.mnky.labels .black.label:before,
.mnky.black.labels .label:before,
.mnky.black.label:before {
	background-color: #5C6166 !important;
}
/* Hover */
a.mnky.black.labels .label:hover,
a.mnky.black.label:hover {
	background-color: #333333 !important;
	border-color: #333333 !important;
}
.mnky.labels a.black.label:hover:before,
.mnky.black.labels a.label:hover:before,
a.mnky.black.label:hover:before {
	background-color: #333333 !important;
}

/* Corner */
.mnky.black.corner.label,
.mnky.black.corner.label:hover {
	background-color: transparent !important;
}
/* Ribbon */
.mnky.black.ribbon.label {
	border-color: #333333 !important;
}


/*--- Green ---*/
.mnky.green.labels .label,
.mnky.green.label {
  background-color: #A1CF64 !important;
  border-color: #A1CF64 !important;
  color: #FFFFFF !important;
}
.mnky.labels .green.label:before,
.mnky.green.labels .label:before,
.mnky.green.label:before {
  background-color: #A1CF64 !important;
}

/* Hover */
a.mnky.green.labels .label:hover,
a.mnky.green.label:hover {
  background-color: #89B84C !important;
  border-color: #89B84C !important;
}
.mnky.labels a.green.label:hover:before,
.mnky.green.labels a.label:hover:before,
a.mnky.green.label:hover:before {
  background-color: #89B84C !important;
}

/* Corner */
.mnky.green.corner.label,
.mnky.green.corner.label:hover {
  background-color: transparent !important;
}
/* Ribbon */
.mnky.green.ribbon.label {
  border-color: #89B84C !important;
}


/*--- Red ---*/
.mnky.red.labels .label,
.mnky.red.label {
  background-color: #D95C5C !important;
  border-color: #D95C5C !important;
  color: #FFFFFF !important;
}
.mnky.labels .red.label:before,
.mnky.red.labels .label:before,
.mnky.red.label:before {
  background-color: #D95C5C !important;
}
/* Corner */
.mnky.red.corner.label,
.mnky.red.corner.label:hover {
  background-color: transparent !important;
}

/* Hover */
a.mnky.red.labels .label:hover,
a.mnky.red.label:hover{
  background-color: #DE3859 !important;
  border-color: #DE3859 !important;
  color: #FFFFFF !important;
}
.mnky.labels a.red.label:hover:before,
.mnky.red.labels a.label:hover:before,
a.mnky.red.label:hover:before {
  background-color: #DE3859 !important;
}
/* Ribbon */
.mnky.red.ribbon.label {
  border-color: #DE3859 !important;
}


/*--- Blue ---*/
.mnky.blue.labels .label,
.mnky.blue.label {
  background-color: #6ECFF5 !important;
  border-color: #6ECFF5 !important;
  color: #FFFFFF !important;
}
.mnky.labels .blue.label:before,
.mnky.blue.labels .label:before,
.mnky.blue.label:before {
  background-color: #6ECFF5 !important;
}
/* Hover */
a.mnky.blue.labels .label:hover,
.mnky.blue.labels a.label:hover,
a.mnky.blue.label:hover {
  background-color: #1AB8F3 !important;
  border-color: #1AB8F3 !important;
  color: #FFFFFF !important;
}
.mnky.labels a.blue.label:hover:before,
.mnky.blue.labels a.label:hover:before,
a.mnky.blue.label:hover:before {
  background-color: #1AB8F3 !important;
}
/* Corner */
.mnky.blue.corner.label,
.mnky.blue.corner.label:hover {
  background-color: transparent !important;
}
/* Ribbon */
.mnky.blue.ribbon.label {
  border-color: #1AB8F3 !important;
}

/*--- Purple ---*/
.mnky.purple.labels .label,
.mnky.purple.label {
  background-color: #564F8A !important;
  border-color: #564F8A !important;
  color: #FFFFFF !important;
}
.mnky.labels .purple.label:before,
.mnky.purple.labels .label:before,
.mnky.purple.label:before {
  background-color: #564F8A !important;
}
/* Hover */
a.mnky.purple.labels .label:hover,
.mnky.purple.labels a.label:hover,
a.mnky.purple.label:hover {
  background-color: #3E3773 !important;
  border-color: #3E3773 !important;
  color: #FFFFFF !important;
}
.mnky.labels a.purple.label:hover:before,
.mnky.purple.labels a.label:hover:before,
a.mnky.purple.label:hover:before {
  background-color: #3E3773 !important;
}
/* Corner */
.mnky.purple.corner.label,
.mnky.purple.corner.label:hover {
  background-color: transparent !important;
}
/* Ribbon */
.mnky.purple.ribbon.label {
  border-color: #3E3773 !important;
}

/*--- Orange ---*/
.mnky.orange.labels .label,
.mnky.orange.label {
  background-color: #F05940 !important;
  border-color: #F05940 !important;
  color: #FFFFFF !important;
}
.mnky.labels .orange.label:before,
.mnky.orange.labels .label:before,
.mnky.orange.label:before {
  background-color: #F05940 !important;
}
/* Hover */
a.mnky.orange.labels .label:hover,
.mnky.orange.labels a.label:hover,
a.mnky.orange.label:hover {
  background-color: #FF4121 !important;
  border-color: #FF4121 !important;
  color: #FFFFFF !important;
}
.mnky.labels a.orange.label:hover:before,
.mnky.orange.labels a.label:hover:before,
a.mnky.orange.label:hover:before {
  background-color: #FF4121 !important;
}
/* Corner */
.mnky.orange.corner.label,
.mnky.orange.corner.label:hover {
  background-color: transparent !important;
}
/* Ribbon */
.mnky.orange.ribbon.label {
  border-color: #FF4121 !important;
}

/*--- Teal ---*/
.mnky.teal.labels .label,
.mnky.teal.label {
  background-color: #00B5AD !important;
  border-color: #00B5AD !important;
  color: #FFFFFF !important;
}
.mnky.labels .teal.label:before,
.mnky.teal.labels .label:before,
.mnky.teal.label:before {
  background-color: #00B5AD !important;
}
/* Hover */
a.mnky.teal.labels .label:hover,
.mnky.teal.labels a.label:hover,
a.mnky.teal.label:hover {
  background-color: #009A93 !important;
  border-color: #009A93 !important;
  color: #FFFFFF !important;
}
.mnky.labels a.teal.label:hover:before,
.mnky.teal.labels a.label:hover:before,
a.mnky.teal.label:hover:before {
  background-color: #009A93 !important;
}
/* Corner */
.mnky.teal.corner.label,
.mnky.teal.corner.label:hover {
  background-color: transparent !important;
}
/* Ribbon */
.mnky.teal.ribbon.label {
  border-color: #009A93 !important;
}