// =========================
// Navbar #Core
// =========================

.mnky.navbar {
	display: block;
	width: 100%;
	padding: 0;
	top: 0;
	overflow: visible;
	z-index: $mnky-zindex-navbar;
	height: $mnky-navbar-height;
	@include box-sizing(border-box);
	@include transition(z-index 4s ease 0s);
	
	.row { padding: 0; }
}

// Fixed Navbar
.mnky.navbar.fixed {
	position: fixed;
	z-index: $mnky-zindex-navbar-fixed;
	
	@include screenmax($mnky-screen-small) {
		.row {
			width: auto;
			min-width: 100%;
			padding: 0;
		}
	}
}

// =========================
// Navbar #Positioning
// =========================

.mnky.navbar .pull-left { float: left; }
.mnky.navbar .pull-right { float: right; }

// =========================
// Navbar #Toggle
// =========================

.mnky.navbar .menu-toggle {
	display: inline-block;
	float: right;
	position: relative;
	@include box-sizing(border-box);
	width: ($mnky-navbar-height + 1);
	height: $mnky-navbar-height;
	background: none;
	border: 0 none;
		
		span {
			content: '';
			background: url("../images/icons/menu-icon.png");
			@include rem2px(width, 1.7);
			@include rem2px(height, 1.2);
			@include rem2px(font-size, 1.6);
			
			&:before { content: ''; }
		}
	
	@include breakpoint($mnky-screen-medium) {
		display: none;
	}
}

// =========================
// Navbar #Branding
// =========================

.mnky.navbar .brand {
	display: inline-block;
	text-decoration: none;
	line-height: $mnky-navbar-height;
	width: auto;
	margin-left: $mnky-grid-gutter-width +px;
	
	@include breakpoint($mnky-screen-medium) {
		float: left;
		width: 25%;
	}
	
	.logotype {
		@include rem2px(font-size, $mnky-navbar-brand-font-size);
		font-weight: $mnky-navbar-brand-font-weight;
		text-transform: uppercase;
    }
    
    img:first-child {
		float: left;
		margin: 2px 0 0;
    }
}

// =========================
// Navbar #Navigation
// =========================

.mnky.navbar {
	z-index: 1040;
	height: $mnky-navbar-height;
	
	.menu {
		width: auto;
		
		ul {
			display:none;
	      
			@include breakpoint($mnky-screen-medium) {
				display: inline-block;
				margin: 0;
			}
			
			li {
				margin: 0;
				padding: 0;
				@include rem2px(line-height, $mnky-navbar-links-line-height);
				display: inline-block;
				
				a {
					padding: ($mnky-navbar-height + 3) / 4 8px;
					@include rem2px(font-size, $mnky-navbar-links-font-size);
					font-weight: $mnky-navbar-links-font-weight;
					text-transform: $mnky-navbar-links-text-transform;
					display: block;
					cursor: $mnky-cursor-pointer-value;
					
					&:hover {
						text-decoration: $mnky-navbar-links-text-decortation;
					}
				}
			}
		}
	}
}

/* NAVBAR COLORS STYLING
========================================================================== */

// Navbar Toggle color  ============================

.mnky.navbar .menu-toggle {
	border-left: 1px solid rgba(mnky-color(white-alpha-4), .2);
		
		&:hover,
		&:focus {
			border-left: 1px solid rgba(mnky-color(white-alpha-4), .2);
			color: mnky-color(white-alpha-4);
		}
		
		span {
			color: mnky-color(white-alpha-4);
		}
	
	@include breakpoint($mnky-screen-medium) {
		border: none;
	}
}

// Navbar Branding  ==========================

.mnky.navbar .brand {
	
	.logotype {
		color:	$mnky-navbar-brand-font-color;
    }
}

// Navbar Navigation  ========================

.mnky.navbar {
	background: $mnky-navbar-bck-color;
	
	.menu ul li {
		
		&:hover { background: $mnky-navbar-links-bck-color-hover; }
		
		&.active a { color: $mnky-navbar-links-font-color-active; }
		
		a {
			color: $mnky-navbar-links-font-color;
			
				&:hover { color: $mnky-navbar-links-font-color-hover; }
					
				&.active { color: $mnky-navbar-links-font-color-active; }
		}
	}
}