// =========================
// Offcanvas #Page-wrapper
// =========================

.page-wrapper {
	position: relative;
    z-index: 10;
    top: 0;
    left: 0;
    @include transition(all, .3s);
}

// =========================
// Offcanvas #Core
// =========================

nav.offcanvas {
	margin-top: $mnky-navbar-height!important;
    position: fixed;
    z-index: 20;
    background-color: $mnky-navbar-bck-color;
    overflow: auto;
    overflow-y: visible;
    z-index: $mnky-zindex-navbar;
    
    @include transition(all, .3s);
    
    ul {
	    list-style-type: none;
	    margin: 0;
	    padding: 0;
	    
	    li a { font-weight: 300; }
    }
}

// Offcanvas Slide menu left ============================

nav.offcanvas.slide.left {
	top: 0;
    width: 300px;
    height: 100%;
    
    li {
		display: block;
		
		a {
			display: block;
			padding-left: 20px;
		}
    }
}

nav.offcanvas.slide.left {
	left: -300px
}

body.offcanvas.slide.left.show-canvas nav.offcanvas.slide.left {
	left: 0;
}

// Offcanvas Slide menu Right ============================

nav.offcanvas.slide.right {
	top: 0;
    width: 300px;
    height: 100%;
    
    li {
		display: block;
		
		a {
			display: block;
			padding-left: 20px;
		}
    }
}

nav.offcanvas.slide.right {
	right: -300px
}

body.offcanvas.slide.right.show-canvas nav.offcanvas.slide.right {
	right: 0;
}

// Offcanvas Slide menu Top ============================

nav.offcanvas.slide.top {
	left: 0;
    width: 100%;
    height: 100px;
    
    ul {
	    text-align: center;
	    padding: 25px 0 0 0;
	    
	    li {
			display: inline-block;
			margin: 0;
			vertical-align: middle;
			
			a {
				display: block;
				line-height: 50px;
				padding: 0 10px;
			}
	    }
    }
}

nav.offcanvas.slide.top {
	top: -100px;
}

body.offcanvas.slide.top.show-canvas nav.offcanvas.slide.top {
	top: 0;
}

// Offcanvas Slide menu Bottom ============================

nav.offcanvas.slide.bottom {
	left: 0;
    width: 100%;
    height: 100px;
    
    ul {
	    text-align: center;
	    padding: 25px 0 0 0;
	    
	    li {
			display: inline-block;
			margin: 0;
			vertical-align: middle;
			
			a {
				display: block;
				line-height: 50px;
				padding: 0 10px;
			}
	    }
    }
}

nav.offcanvas.slide.bottom {
	bottom: -100px;
}

body.offcanvas.slide.bottom.show-canvas nav.offcanvas.slide.bottom {
	bottom: 0;
}

// Offcanvas Push menu Left ============================

nav.offcanvas.push.left {
	top: 0;
	width: 300px;
	height: 100%;
	    
    li {
		display: block;
			
		a {
			display: block;
			padding: 10px 20px;
		}
    }
}

nav.offcanvas.push.left {
	left: -300px;
}

body.offcanvas.push.left.show-canvas nav.offcanvas.push.left {
	left: 0;
}

body.offcanvas.push.left.show-canvas .page-wrapper {
	left: 300px;
}

// Offcanvas Push menu Right ============================

nav.offcanvas.push.right {
	top: 0;
	width: 230px;
	height: 100%;
	    
    li {
		display: block;
			
		a {
			display: block;
			padding: 10px 20px;
		}
    }
}

nav.offcanvas.push.right {
	right: -300px;
}

body.offcanvas.push.right.show-canvas nav.offcanvas.push.right {
	right: 0;
}

body.offcanvas.push.right.show-canvas .page-wrapper {
	left: -230px;
}

// Offcanvas Push menu Top ============================

nav.offcanvas.push.top {
	left: 0;
    width: 100%;
    height: 100px;
	    
    ul {
	    text-align: center;
		padding: 25px 0 0 0;
	    
	    li {
			display: inline-block;
			margin: 0;
			vertical-align: middle;
				
			a {
				display: block;
				line-height: 50px;
				padding: 0 10px;
			}
	    }
    }
}

nav.offcanvas.push.top {
	top: -100px;
}

body.offcanvas.push.top.show-canvas nav.offcanvas.push.top {
	top: 0;
}

body.offcanvas.push.top.show-canvas .page-wrapper {
	top: 100px;
}

// Offcanvas Push menu Bottom ============================

nav.offcanvas.push.bottom {
	left: 0;
    width: 100%;
    height: 100px;
	    
    ul {
	    text-align: center;
		padding: 25px 0 0 0;
	    
	    li {
			display: inline-block;
			margin: 0;
			vertical-align: middle;
				
			a {
				display: block;
				line-height: 50px;
				padding: 0 10px;
			}
	    }
    }
}

nav.offcanvas.push.bottom {
	bottom: -100px;
}

body.offcanvas.push.bottom.show-canvas nav.offcanvas.push.bottom {
	bottom: 0;
}

body.offcanvas.push.bottom.show-canvas .page-wrapper {
	bottom: 100px;
}

/* OFFCANVAS COLORS STYLING
========================================================================== */

nav.offcanvas {
	background-color: $mnky-navbar-bck-color;
}

nav.offcanvas.slide,
nav.offcanvas.push {
	
	&.left li,
	&.right li {
		border-bottom: 1px solid rgba(mnky-color(white-alpha-4), .2);
		
		&:first-child { border-top: 1px solid rgba(mnky-color(white-alpha-4), .2); }
	}
	
	&.top li,
	&.bottom li {
		border-right: 1px solid rgba(mnky-color(white-alpha-4), .15);
		
		&:last-child { border-right: none; }
	}
	
	// Default font styling
	& li {
		a {
			@include rem2px(font-size, $mnky-navbar-links-font-size);
			color: $mnky-navbar-links-font-color;
			line-height: $mnky-navbar-links-line-height;
			text-transform: $mnky-navbar-links-text-transform;
			font-weight: $mnky-navbar-links-font-weight;
		}
		
		&:hover a { color: $mnky-navbar-links-font-color-hover; }
		&:active,
		&.active  a{ color: $mnky-navbar-links-font-color-active; }
	}
}