$scroll-bck-color:			$mnky-navbar-bck-color;
$topScroll-padding:			20px;
$topScroll-border-radius:	50%;


.scrolltop {
    display: none;
    width: 100%;
    margin: 0 auto;
    position: fixed!important;
    bottom: $topScroll-padding;
    right: ($topScroll-padding / 2); 
    z-index: 100;
}

.scroll {
    position: absolute;
    right: ($topScroll-padding / 2);
    bottom: ($topScroll-padding / 2 );
    background: $scroll-bck-color;
    padding: $topScroll-padding;
    text-align: center;
    margin: 0 0 0 0;
    cursor:pointer;
    opacity: .4;
    border-radius: $topScroll-border-radius;
    @include transition(0.5s);
    
    .fa {
	    @include rem2px(font-size, 3);
	    margin-top: -5px;
	    margin-left: 1px;
	    @include transition(0.5s);  
	}  
}

.scroll:hover {
    opacity: 1;
    @include transition(0.5s);  
    
    .fa {
	    padding-top: -10px;
	}     
}