// =========================
// Global #Reset
// =========================

*,
*:before,
*:after { @include box-sizing(border-box); }

// =========================
// Global #Basic
// =========================

// Body reset
html, body {
	margin: 0;
	height: 100%;
}

html { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
body { background-color: $mnky-body-background-color; }


// =========================
// Global #Elements
// =========================

// Button reset
button {
	background: none;
	border: none;
	margin: inherit;
	padding: inherit;
	width: auto;
	overflow: visible;
	
	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}
}

// lists reset
ul,
ol {
  margin-top: 0;
  margin-bottom: ($mnky-base-line-height-computed / 2);
}

// Figures reset
figure { margin: 0; }

// Images
img { vertical-align: middle; }