$include-html-classes:                 	true !default; // If you want a non responsive grid set this to FALSE

// =========================
// Grid #Core
// =========================

.row {
	padding: 2% ($mnky-grid-gutter-width / 2 ) + px 0;
	margin: 0 auto;
	text-align: justify;
	position: relative;
	display: block;
	width: 100%!important;
	max-width: $mnky-grid-width;
	
	letter-spacing: -0.31em;
	word-spacing: -0.43em;
	@include box-sizing(border-box);
	
	&::after {
		content: '';
		display: table;
		width: 100%;
	}
	
	> .row {
		padding: 2% 0 0;
	}
}

.column,
.columns {
	position: relative;
	display: inline-block;
	text-align: left;
	padding: 0 ($mnky-grid-gutter-width / 2 ) + px;
	vertical-align: top;
	margin-bottom: $mnky-grid-gutter-width + px;
	letter-spacing: normal;
    word-spacing: normal;
    text-rendering: auto;
	@include box-sizing(border-box);
	
	@include screenmax($mnky-screen-small) {
		width: 100%!important;
	}
}

// =========================
// Grid #Alignment
// =========================

.column,
.columns {

	&.centered {
		display: block;
		margin: 0 auto;
	}
	
	&.left {
		display: block;
		margin-right: auto;
	}
	
	&.right {
		display: block;
		margin-left: auto;
	}
	
}

// =========================
// Grid #Calculation
// =========================

// These will create the grid so don't touch them;
@mixin column-calc($columns){
	width: percentage($columns / $mnky-grid-columns);
}

// We use this to calculate the columns widths
$grid-column-width: (100% - $mnky-grid-gutter-width * ($mnky-grid-columns - 1)) / $mnky-grid-columns; 


@mixin grid-html-classes($size) {
	
	// This calculates the total columns amount
	@for $i from 1 through $mnky-grid-columns {
		
		// This generates the total columns amount and calculates there width
		.#{$size}-#{$i} {
			width: grid-calc($i, $mnky-grid-columns);
		}
		
		// Offset columns
		.#{$size}-offset-#{$i} {
			margin-left: grid-calc($i, $mnky-grid-columns);
		}
	}
	
	// These we can use the Push/Pull columns
	@for $i from 0 through $mnky-grid-columns - 2{
	
		// Push columns
		.#{$size}-push-#{$i} {
			left: grid-calc($i, $mnky-grid-columns);
		}
		
		// Pull columns
		.#{$size}-pull-#{$i} {
			right: grid-calc($i, $mnky-grid-columns);
		}
	}
	
}

// =========================
// Grid #Responsive
// =========================

@include exports("grid") {
	
	@media only screen and (min-width: $mnky-screen-small) {
		
		@include grid-html-classes($size:small);
	}
	
	@media only screen and (min-width: $mnky-screen-medium) {
		
		.row { max-width: $mnky-row-medium; }
		
		@include grid-html-classes($size:medium);
	}
	
	@media only screen and (min-width: $mnky-screen-large) {
		
		.row { max-width: $mnky-row-large; }
		
		@include grid-html-classes($size:large);
	}
	
	@media only screen and (min-width: $mnky-screen-wide) {
		
		.row { max-width: 90%; }
		
		@include grid-html-classes($size:wide);
	}

}