// Theme section background colors
$theme-bck-white:						mnky-color(white-alpha-4) !default;
$theme-bck-light:						#ECF0F1 !default;
$theme-bck-lightdark:					#333333 !default;
$theme-bck-dark:						#1E1E1E !default;
$theme-bck-theme:						$mnky-primary-color !default;

// =========================
// Theme #Background
// =========================


.bck {
	&.full { min-height: 100%; }
	&.white { background-color: mnky-color(white-alpha-4); }
	&.light { background-color: $theme-bck-light; }
	&.lightdark { background-color: $theme-bck-lightdark; }
	&.dark { background-color: $theme-bck-dark; }
	&.black { background-color: mnky-color(black-alpha-4); }
	&.theme { background-color: $theme-bck-theme; }
	&.theme, &.dark, &.lightdark, &.black {
		color: mnky-color(white-alpha-4);
		
		h1, h2, h3,
		h4, h5, h6 {
			color: mnky-color(white-alpha-4);
		}
		
		a {
			color: rgba(mnky-color(black-alpha-4), .8);
			
			&:not(.btn):hover, &:not(.btn):active {
				color: rgba(mnky-color(black-alpha-4), 1);
			}
		}
		
		.title.divider { background-color: mnky-color(white-alpha-4); }
	}
}

// =========================
// Theme #TextColor
// =========================

.color {
	&.white { color: mnky-color(white-alpha-4) !important; }
	&.black { color: mnky-color(black-alpha-4) !important; }
	&:not(.bck).theme { color: $mnky-primary-color !important; }
	&.default {color: $mnky-base-font-color !important; }
}

// =========================
// Layout #Horizontal Rule
// =========================

hr {
  margin-top: $mnky-base-line-height-computed;
  margin-bottom: $mnky-base-line-height-computed;
  border: 0;
  height: 1px;
  background-color: $mnky-hr-color;
}