// =========================
// Typograhpy #Variables
// =========================

$mnky-font-family-text:						'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$mnky-font-family-display:					Georgia, Times, "Times New Roman", serif !default;
$mnky-font-family-code:						Monaco, Menlo, Consolas, "Courier New", monospace !default;

$mnky-font-size-small:						1.2 !default;
$mnky-font-size-regular:					1.6 !default;
$mnky-font-size-large:						1.8 !default;
$mnky-font-size-x-large:					2.4 !default;
$mnky-font-size-xx-large:					3.0 !default;
$mnky-font-size-xxx-large:					3.6 !default;
$mnky-font-size-xxxx-large:					4.8 !default;

$mnky-font-weight-thin:						200 !default;
$mnky-font-weight-book:						300 !default;
$mnky-font-weight-regular:					400 !default;
$mnky-font-weight-bold:						600 !default;

// =========================
// Typograhpy #Global
// =========================

html,
body,
button {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

html {
	font-size: $mnky-html-font-size!important;
	font-family: $mnky-base-font-family;
}

body {
	color: $mnky-base-font-color;
	font-weight: $mnky-base-font-weight;
	font-family: $mnky-base-font-family;
	@include rem2px(font-size, $mnky-base-font-size);
	line-height: $mnky-base-line-height;
	letter-spacing: $mnky-base-letter-spacing;
}

// =========================
// Typograhpy #Core
// =========================

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	color: $mnky-base-heading-font-color;
	
	small { 
		font-size:65%;
		color: mnky-color(black-alpha-3);
	}
}

h1, h2, h3 {
  margin-top: $mnky-base-line-height-computed;
  margin-bottom: ($mnky-base-line-height-computed / 2);
}

h4, h5, h6 {
  margin-top: ($mnky-base-line-height-computed / 2);
  margin-bottom: ($mnky-base-line-height-computed / 2);
}

h1 { @include rem2px(font-size, $mnky-font-size-xxxx-large); }
h2 { @include rem2px(font-size, $mnky-font-size-xxx-large); }
h3 { @include rem2px(font-size, $mnky-font-size-xx-large); }
h4 { @include rem2px(font-size, $mnky-font-size-x-large); }
h5 { @include rem2px(font-size, 2.8); }
h6 { @include rem2px(font-size, $mnky-font-size-large); }

// Text Core  ============================

a {
	color: $mnky-primary-color;
	text-decoration: none;
	outline: 0;
	cursor: $mnky-cursor-pointer-value;
	
	&:not(.btn):hover, &:not(.btn):active {
		color: $mnky-primary-color-dark;
	}
}

p {
	@include rem2px(font-size, $mnky-base-font-size);
	line-height: $mnky-base-line-height;
	margin: 0 0 ($mnky-base-line-height-computed / 2);
	
	&.lead {
		@include rem2px(font-size, ($mnky-base-font-size + .075));
		margin-bottom: 2em;
		line-height: $mnky-base-line-height + .075;
		font-weight: 500;
	}
}

// Basic elements  ============================

small {
	@include rem2px(font-size, $mnky-font-size-small);
	line-height: 1.3;
}

strong { font-weight: 700; }

abbr[title] {
  cursor: $mnky-cursor-help-value;
  border-bottom: 1px dotted $mnky-abbr-border-color;
}

em { font-style: italic; }
del { text-decoration: line-through; }

code, samp, kbd {
	font-family: $mnky-font-family-code;
	text-align: left;
	color: #555;
}
	
pre {
	padding: 5px 10px;
	width: 100%;
	min-height: auto;
	background: #f0f0f0;
	border-radius: 5px;
	word-wrap: pre;
	white-space: pre-wrap;
	overflow: auto;

	code {
		margin: 0 !important;
		padding: 0 !important;
	}
}

// Text markup ============================

.text {
	&.thin { font-weight: $mnky-font-weight-thin; }
	&.book { font-weight: $mnky-font-weight-book; }
	&.normal { font-weight: $mnky-font-weight-regular; }
	&.bold { font-weight: $mnky-font-weight-bold; }
	
	&.italic { font-style: italic; }
	&.underline { text-decoration: underline; }
	&.uppercase { text-transform: uppercase }
	
	&.small { font-size: $mnky-font-size-small; }
	&.large { font-size: $mnky-font-size-large; }
	&.xlarge { font-size: $mnky-font-size-x-large; }
	&.big { font-size: $mnky-font-size-xx-large; }
	&.huge { font-size: $mnky-font-size-xxx-large; }
	
	&.shadow { text-shadow: 0 1px 1px rgba(0,0,0,0.5); }
}

.text,
.align.text {
	&.left { text-align: left !important; }
	&.right { text-align: right !important; }
	&.center { text-align: center !important; }
	&.justify { text-align: justify !important; }
}
