$white:		#fff;
$black:		#000;

$mnky-color-black:				#0A0A0A !default;
$mnky-color-blue:				#13D3F0 !default;
$mnky-color-green:				#6FC149 !default;
$mnky-color-orange:				#FF962B !default;
$mnky-color-pink:				#E75CAC !default;
$mnky-color-purple:				#AD56E7 !default;
$mnky-color-red:				#E6451E !default;
$mnky-color-teal:				#2CC4B1 !default;
$mnky-color-yellow:				#FFCD00 !default;

// ======================
// Color function
// ======================

@function mnky-color($color-name, $color-code: '500') {
	// check color
	@if map-has-key($mnky-colors, $color-name) == false {
		@warn "Color `#{$color-name}` not found.";
		@return null;
	}
	
	$mnky-mapVal: map-get($mnky-colors, $color-name);
	
	// use Code key
	@if type-of($mnky-mapVal) == 'map' {
	// check code
		@if map-has-key($mnky-mapVal, $color-code) == false {
		  @warn "Color `#{$color-name}` `#{$color-code}` not found.";
		  @return null;
		}
		
		$mnky-mapVal: map-get($mnky-mapVal, $color-code);
	}
	
	@return $mnky-mapVal;
}

// ======================
// Color map
// ======================
$mnky-colors: (
		"blue": (
		"50": #89e9f7,
		"100": #71e4f6,
		"200": #59e0f4,
		"300": #42dbf3,
		"400": #2ad7f1,
		"500": #13d3f0,
		"600": #11bdd8,
		"700": #0fa8c0,
		"800": #0d93a8,
		"900": #0b7e90,
	),
	
	"green": (
		"50": #b7e0a4,
		"100": #a8d991,
		"200": #9ad37f,
		"300": #8bcd6d,
		"400": #7dc75b,
		"500": #6FC149,
		"600": #63ad41,
		"700": #589a3a,
		"800": #4d8733,
		"900": #42732b,
	),

	"orange": (
		"50": #ffca95,
		"100": #ffc07f,
		"200": #ffb56a,
		"300": #ffab55,
		"400": #ffa040,
		"500": #FF962B,
		"600": #e58726,
		"700": #cc7822,
		"800": #b2691e,
		"900": #995a19,
	),
	
	"pink": (
		"50": #f3add5,
		"100": #f09dcd,
		"200": #ee8cc4,
		"300": #eb7cbc,
		"400": #e96cb4,
		"500": #E75CAC,
		"600": #cf529a,
		"700": #b84989,
		"800": #a14078,
		"900": #8a3767,
	),
	
	"purple": (
		"50": #d6aaf3,
		"100": #cd99f0,
		"200": #c588ee,
		"300": #bd77eb,
		"400": #b566e9,
		"500": #AD56E7,
		"600": #9b4dcf,
		"700": #8a44b8,
		"800": #793ca1,
		"900": #67338a,
	),
	
	"red": (
		"50": #f2a28e,
		"100": #f08f78,
		"200": #ed7c61,
		"300": #eb6a4a,
		"400": #e85734,
		"500": #E6451E,
		"600": #cf3e1b,
		"700": #b83718,
		"800": #a13015,
		"900": #8a2912,
	),
	
	"teal": (
		"50": #95e1d8,
		"100": #80dbd0,
		"200": #6bd5c8,
		"300": #56cfc0,
		"400": #41c9b8,
		"500": #2CC4B1,
		"600": #27b09f,
		"700": #239c8d,
		"800": #1e897b,
		"900": #1a756a,
	),
	
	"yellow": (
		"50": #ffe67f,
		"100": #ffe166,
		"200": #ffdc4c,
		"300": #ffd732,
		"400": #ffd219,
		"500": #ffce00,
		"600": #e5b900,
		"700": #cca400,
		"800": #b29000,
		"900": #997b00,	
	),
	
	"lightgrey": (
		"50": #FAFAFA,
		"100": #F5F5F5,
		"200": #EEEEEE,
		"300": #E0E0E0,
		"400": #BDBDBD,
		"500": #9E9E9E,
		"600": #757575,
		"700": #616161,
		"800": #424242,
		"900": #212121,
	),
	
	"grey": (
		"50": #e9e9e9,
		"100": #e4e4e4,
		"200": #e0e0e0,
		"300": #dbdbdb,
		"400": #d7d7d7,
		"500": #d3d3d3,
		"600": #bdbdbd,
		"700": #a8a8a8,
		"800": #939393,
		"900": #7e7e7e,
	),
	
	"dark": (
		"50": #999999,
		"100": #848484,
		"200": #707070,
		"300": #5b5b5b,
		"400": #474747,
		"500": #333333,
		"600": #2d2d2d,
		"700": #282828,
		"800": #232323,
		"900": #1e1e1e,
	),

	"black": #000000,
	"black-alpha-1": rgba(0, 0, 0, 0.12),
	"black-alpha-2": rgba(0, 0, 0, 0.26),
	"black-alpha-3": rgba(0, 0, 0, 0.54),
	"black-alpha-4": rgba(0, 0, 0, 0.87),
	
	"black-alpha-12": rgba(#000, 0.12),
	"black-alpha-26": rgba(#000, 0.26),
	"black-alpha-54": rgba(#000, 0.54),
	"black-alpha-87": rgba(#000, 0.87),
	
	"white": #FFFFFF,
	"white-alpha-1": rgba(255, 255, 255, 0.12),
	"white-alpha-2": rgba(255, 255, 255, 0.30),
	"white-alpha-3": rgba(255, 255, 255, 0.70),
	"white-alpha-4": rgba(255, 255, 255, 1.00),
	
	"white-alpha-12": rgba(#FFF, 0.12),
	"white-alpha-30": rgba(#FFF, 0.30),
	"white-alpha-70": rgba(#FFF, 0.70),
);