@function grid-calc($colNumber, $grid-columns) {
	@return percentage(($colNumber / $grid-columns));
}

// IMPORT ONCE
// We use this to prevent styles from being loaded multiple times for compenents that rely on other components. 

$widget: () !default;
@mixin exports($name) {
	@if not index ($widget, $name) {
		$modules: append($widget, $name);
		@content;
	}
}

// Convert pixels to ems
// eg. for a relational value of 12px write em(12) when the parent is 16px
// if the parent is another value say 24px write em(12, 24)

@function em($pxval, $base: 16) {
	@return ($pxval / $base) * 1em;
}

// Rem with PX fallback
// We can use this to work with rem but have a PX fallback.
// exemple: @include rem(font-size, 1.4);

@mixin rem2px($property, $sizeValue: 1.6) {
	#{$property}: ($sizeValue * 10) + px;
	#{$property}: $sizeValue + rem;
}

@function parseInt($n) {
	@return $n / ($n * 0 + 1);
}

@mixin rem($property, $values) {
	$px : ();
	$rem: ();
	
	@each $value in $values {
	
		@if $value == 0 or $value == auto {
			$px : append($px , $value);
			$rem: append($rem, $value);
		}
		
		@else { 
			$unit: unit($value);
			$val: parseInt($value);
			
			@if $unit == "px" {
				$px : append($px,  $value);
				$rem: append($rem, ($val / 10 + rem));
			}
			
			@if $unit == "rem" {
				$px : append($px,  ($val * 10 + px));
				$rem: append($rem, $value);
			}
		}
	}
	
	@if $px == $rem {
		#{$property}: $px;
	} @else {
		#{$property}: $px;
		#{$property}: $rem;
	}
}