/* ==========================================================================
   Background
   ========================================================================== */

/* BACKGROUND GRADIENT */
@mixin background-gradient($startColor: #3C3C3C, $endColor: #999999) {
	background-color: $startColor;
	background-image: -webkit-gradient(linear, left top, left bottom, from($startColor), to($endColor));
	background-image: -webkit-linear-gradient(top, $startColor, $endColor);
	background-image:    -moz-linear-gradient(top, $startColor, $endColor);
	background-image:     -ms-linear-gradient(top, $startColor, $endColor);
	background-image:      -o-linear-gradient(top, $startColor, $endColor);
	background-image:         linear-gradient(top, $startColor, $endColor);
	filter:            progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$startColor}', endColorStr='#{$endColor}');
}

/* BACKGROUND HORIZONTAL */
@mixin background-horizontal($startColor: #3C3C3C, $endColor: #999999) {
	background-color: $startColor;
	background-image: -webkit-gradient(linear, left top, right top, from($startColor), to($endColor));
	background-image: -webkit-linear-gradient(left, $startColor, $endColor);
	background-image:    -moz-linear-gradient(left, $startColor, $endColor);
	background-image:     -ms-linear-gradient(left, $startColor, $endColor);
	background-image:      -o-linear-gradient(left, $startColor, $endColor);
	background-image:         linear-gradient(left, $startColor, $endColor);
	filter:            progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$startColor}', endColorStr='#{$endColor}', gradientType='1');
}

/* BACKGROUND RADIAL */
@mixin background-radial($startColor: #FFFFFF, $startPos: 0%, $endColor: #000000, $endPos:100%)  {
	background: -moz-radial-gradient(center, ellipse cover, $startColor $startPos, $endColor $endPos);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop($startPos,$startColor), color-stop($endPos,$endColor));
	background: -webkit-radial-gradient(center, ellipse cover, $startColor $startPos,$endColor $endPos);
	background: -o-radial-gradient(center, ellipse cover, $startColor $startPos,$endColor $endPos);
	background: -ms-radial-gradient(center, ellipse cover, $startColor $startPos,$endColor $endPos);
	background: radial-gradient(ellipse at center, $startColor $startPos,$endColor $endPos)
}

/* SVG background images with PNG and retina fallback ======================= */

$image-path: '../img' !default;
$fallback-extension: 'png' !default;
$retina-suffix: '@2x';
@mixin background-image($name, $size:false){
    background-image: url(#{$image-path}/#{$name}.svg);
    @if($size){
        background-size: $size;
    }
    .no-svg &{
        background-image: url(#{$image-path}/#{$name}.#{$fallback-extension});

        @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
          background-image: url(#{$image-path}/#{$name}#{$retina-suffix}.#{$fallback-extension});
        }
    }
}

/* ==========================================================================
   Border
   ========================================================================== */

// @mixins
//
// We use this to create equal side border radius on elements.
// $side - Options: left, right, top, bottom
@mixin border-radius($side, $radius) {
	@if ($side == left or $side == right) {
		border-bottom-#{$side}-radius: $radius;
		border-top-#{$side}-radius: $radius;
	} @else {
		border-radius: $radius;
	}
}

/* ==========================================================================
   Box-Sizing
   ========================================================================== */

// How to use: @include box-sizing(type-box);
// Options: content-box | border-box | padding-box
@mixin box-sizing($sizing:border-box) {
	-webkit-box-sizing: $sizing;
	-moz-box-sizing: $sizing;
	box-sizing: $sizing;
}

/* ==========================================================================
   ClearFix
   ========================================================================== */

@mixin clearfix {
    &:before, &:after { content: " "; display: table; }
    &:after { clear: both; }
}

/* ==========================================================================
   Transition
   ========================================================================== */

// @mixins
//
// How to use: @include transition($transition-property, $transition-time, $method);
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

/* ==========================================================================
   TransForm
   ========================================================================== */

// generic transform
@mixin transform($transforms) {
	-moz-transform: $transforms;
	-o-transform: $transforms;
	-ms-transform: $transforms;
	-webkit-transform: $transforms;
	transform: $transforms;
}
// rotate
@mixin rotate ($deg) {
	@include transform(rotate(#{$deg}deg));
}
 
// scale
@mixin scale($scale) {
	@include transform(scale($scale));
} 
// translate
@mixin translate ($x, $y) {
   @include transform(translate($x, $y));
}
// skew
@mixin skew ($x, $y) {
   @include transform(skew(#{$x}deg, #{$y}deg));
}
//transform origin
@mixin transform-origin ($origin) {
	moz-transform-origin: $origin;
	-o-transform-origin: $origin;
	-ms-transform-origin: $origin;
	-webkit-transform-origin: $origin;
	transform-origin: $origin;
}

/* ==========================================================================
   Typography
   ========================================================================== */

@mixin font-size($sizeValue: 16 ){
	font-size: $sizeValue + px; //fallback for old browsers
	font-size: (0.125 * $sizeValue) + rem;
}

@mixin line-height($heightValue: 16 ){
	line-height: $heightValue + px; //fallback for old browsers
	line-height: (0.125 * $heightValue) + rem;
}

/* ==========================================================================
   User-select
   ========================================================================== */

// How to use: @include user-select($select);
@mixin user-select($select) {
	-webkit-user-select: $select;
	-moz-user-select: $select;
	-ms-user-select: $select;
	user-select: $select;
}

/* ==========================================================================
   Breakpoints
   ========================================================================== */

// #Breakpoints
// Sets the min width of a screen
// How to use: @include breakpoint(value){ content in here }

@mixin breakpoint($breakpoint) {
	@if $breakpoint == mobile {
		@media only screen and (min-device-width: $mnky-screen-sx) { @content; }
	}
	@else if $breakpoint == tablet {
		@media only screen and (min-device-width: $mnky-screen-sm-min) { @content; }
	}
	@else if $breakpoint == desktop {
		@media only screen and (min-width: $mnky-screen-md-min)  { @content; }
	}
	@else if $breakpoint == widescreen {
		@media only screen and (min-width: $mnky-screen-lg-min)  { @content; }
	}
	@else {
		@media only screen and (min-width: '#{$breakpoint}') { @content; }
	}
}

// #Media Queries
// Responsive screen size mixins with a max width
// How to use: @include media(value){ content in here }

@mixin screenmax($media) {
  @if $media == mobile {
    @media only screen and (min-device-width: 0) and (max-device-width: $mnky-screen-sx) { @content; }
  }
  @else if $media == tablet {
    @media only screen and (min-device-width: $mnky-screen-sm-min) and (max-device-width: $mnky-screen-sm-max) { @content; }
  }
  @else if $media == desktop {
    @media only screen and (min-width: $mnky-screen-md-min) and (max-width: $mnky-screen-md-max) { @content; }
  }
  @else if $media == widescreen {
    @media only screen and (min-width: $mnky-screen-lg-min) { @content; }
  }
  @else {
    @media only screen and (max-width: '#{$media}') { @content; }
  }
}